[2015-11-29 09:29] IvanGoncharov opened #1 "Feature: "Download swagger" button"
It would be nice to have possibility to download swagger file.

[2015-11-29 09:42] IvanGoncharov opened #2 "Added link to project into API documentation"
Add something like "Powered by [ReDoc](https://github.com/Rebilly/ReDoc)" to end of page.
@RomanGotsiy @adamaltman What do you think?

[2015-11-29 10:09] IvanGoncharov opened #3 "Feature: add possibility to comment on endpoints"
As suggested by @adamaltman:

[2015-12-23 21:08] adamaltman commented on #2
:+1:

[2015-12-26 17:52] RomanGotsiy commented on #2
Implemented by 032d96cc6f0cc23768cdf034879db8ffa69d0f81

[2015-12-26 17:52] #2 closed

[2016-01-15 16:40] RomanGotsiy opened #4 "handle additionalProperties"
http://spacetelescope.github.io/understanding-json-schema/reference/object.html#properties

[2016-01-21 23:20] darklynx opened #6 "Generate response sample based on model description"
When response sample is not provided by API description (in Swagger format) it would be great to see automatically generated sample based on the model of response object instead of `Sample unavailable` message.

Something similar to what [Swagger UI](https://github.com/swagger-api/swagger-ui) does, see "Example value" in [Swagger UI demo](http://petstore.swagger.io/#!/pet/addPet).

[2016-01-22 18:27] RomanGotsiy commented on #6
I'm showing this message only in cases [json-schema-instantiator](https://github.com/tomarad/JSON-Schema-Instantiator) fails to automatically generate sample.
I've tried latest ReDoc on petstore spec and latest Rebilly spec and I can't reproduce the issue.

@darklynx can you provide me with some details?

[2016-01-22 18:44] darklynx commented on #6
I tried it with models from my collection: https://github.com/darklynx/swagger-api-collection/tree/master/api/json for example Instagram API
Swagger UI is able to handle them, but I could imagine that there might be some issues with API description.

[2016-01-22 19:23] darklynx commented on #6
This is quite [simple model](https://raw.githubusercontent.com/darklynx/request-baskets/master/doc/api-swagger.json), yet ReDoc fails to parse / reconstruct request and response objects from definitions.

[2016-01-22 20:22] RomanGotsiy commented on #6
Actually according to the [JsonSchema spec](http://json-schema.org/latest/json-schema-validation.html#anchor8) omitting `"type": "object"` leads the schema to validate against anything (string, number, bool, etc).

Here is the quote from the spec:

You can check this with any online JsonSchema validator by specifying schema without `type` field and trying to validate it against `number`, `bool`, `

[2016-01-22 20:32] darklynx commented on #6
I could not find in Swagger 2.0 Spec, now [OpenAPI Specification](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md) whether `"type"` is a mandatory property of "Schema Object" description or not. Although all examples from aforementioned document are declaring `"type": "object"` for complex types, I have seen a lot of Swagger examples where the `"type"` property is skipped,

[2016-01-22 20:39] darklynx commented on #6
I would suggest (if this is technically possible) write a warning to console (or maybe even to the top of HTML document), yet fall-back to "type": "object" and generate example accordingly.

[2016-01-22 20:55] RomanGotsiy commented on #6
Yes you're right, It is not mandatory. But OpenAPI Specification declares that schema object is based on the JSON Schema Specification Draft 4. And JSON Schema Specification Draft 4 says that without specifying `type` schema should validate against anything (check out link and quote from my previous post)

Omitting `"type": "object"` is very common mistake. Even official OpenAPI examples [had this

[2016-01-22 20:59] darklynx commented on #6
(y)

[2016-01-22 20:59] darklynx commented on #6
:+1:

[2016-01-22 21:12] adamaltman commented on #6
:+1:

[2016-01-22 21:55] darklynx commented on #6
@RomanGotsiy the [https://raw.githubusercontent.com/darklynx/swagger-api-collection/master/api/json/instagram.json](Instagram API) description looks really great now at http://rebilly.github.io/ReDoc/ can be used as a reference API to demonstrate the power of ReDoc ;)

[2016-01-22 22:44] RomanGotsiy opened #7 "Display securityDefinitions/security"
- [x] securityDefinitions
- [x] add security definitions to the side menu
- [ ] security

[2016-01-22 22:51] RomanGotsiy opened #8 "Handle parameter types without type"
Should display some symbol (maybe asterisk *) to represent any type
On hover should display explanation

[2016-01-22 22:53] RomanGotsiy opened #9 "Markdown elements styling"
- [x] code
- [x] tables
- [x] lists
- [x] blockquotes

[2016-01-23 13:07] #9 closed

[2016-01-23 14:01] #8 closed

[2016-01-23 14:02] RomanGotsiy opened #10 "Prepare deployment documentation"

[2016-01-23 15:33] RomanGotsiy commented on #6
@darklynx thanks! You're right, your spec looks much better than standard Petstore spec on ReDoc :+1:
But I've found few issues with schema representation testing Redoc on this spec :blush:. I'll use this spec as a reference as soon as I fix these issues.

[2016-01-23 15:52] RomanGotsiy opened #11 "Make response samples expandable"

[2016-01-24 19:45] #11 closed

[2016-01-24 21:17] #10 closed

[2016-01-26 02:30] adamaltman commented on #7
:+1:

[2016-01-26 11:16] RomanGotsiy opened #12 "Schema representation issue on Safari"
No space between parameter name and description

[2016-01-26 11:44] RomanGotsiy opened #13 "Relatively slow loading on IE11/Edge"
On big schemas IE11/Edge works slower relative to other browsers.

The key bottleneck is generation a lot of ui elements for schema representations

[2016-01-26 11:46] RomanGotsiy commented on #13
Lowered impact by implementing lazy-loading for schemas hidden inside expandable responses

[2016-01-26 11:52] RomanGotsiy opened #14 "Use operationId (if specified) field in links for methods"

[2016-01-26 12:09] IvanGoncharov commented on #14
`operationId` is optional field and could be add/removed during spec lifetime.
And people will live links on different 3rd-party sites or as bookmarks in browser.
So if possible it would be great to support both link formats.
To resolve confusion JSON Pointers would be prefixed with `jp/...`.
And methods with `operationId` with `method/...`.

By the way, links to tags also can use similar format:

[2016-01-26 12:33] RomanGotsiy opened #15 "Generate curl samples for requests"

[2016-01-26 12:36] RomanGotsiy opened #16 "Information from enums is not displayed"

[2016-01-26 14:29] RomanGotsiy opened #17 "Redoc is not working on IE9/IE10"

[2016-01-26 14:31] RomanGotsiy commented on #17
have to fix it or implement banner "update your browser version"

[2016-01-26 14:48] RomanGotsiy opened #18 "Code samples in documentation"
`x-code-samples`

[2016-01-29 02:01] adamaltman commented on #18
:yum:

[2016-01-29 16:59] darklynx commented on #15
:+1:

[2016-01-29 17:23] IvanGoncharov opened #19 "Feature: Add "Suggest edits" button."
Button which allow user to suggest changes in text.
@adamaltman Thank you for idea.

Advanced version could be Swagger spec opened in http://editor.swagger.io/ and allow to submit PR directly from it.

[2016-02-01 18:01] RomanGotsiy commented on #18
Implemented

Docs are [here](https://github.com/Rebilly/ReDoc/blob/master/docs/redoc-vendor-extensions.md#x-code-samples)
Example of usage is [here](https://github.com/Rebilly/ReDoc/blob/master/demo/swagger.yml#L112)
Live demo is [here](http://rebilly.github.io/ReDoc/#pet/paths/~1pet/post)

[2016-02-01 18:01] #18 closed

[2016-02-01 18:10] RomanGotsiy opened #20 "Feature: synchronize code samples"
If some language was selected for an operation this language should be automatically selected for all other operations (where it is specified)

[2016-02-02 00:31] adamaltman commented on #18
:+1:

[2016-02-03 14:56] #20 closed

[2016-02-06 16:00] RomanGotsiy commented on #16
fixed

[2016-02-06 16:00] #16 closed

[2016-02-06 16:02] #12 closed

[2016-02-07 14:56] #14 closed

[2016-02-17 15:47] IvanGoncharov opened #22 "Demo with non-default swagger file provide incorrect persistent links"
For example use this url in demo:
https://apis-guru.github.io/api-models/bikewise.org/v2/swagger.yaml
And get link to first method:
http://rebilly.github.io/ReDoc/#operation/GET--version-incidents---format-

Demo could support specifying Swagger url through query parameter
So you can provide test links:
http://rebilly.github.io/ReDoc?url=http://petstore.swagger.io/v2/swagger.json
And correct links

[2016-02-17 21:46] #17 closed

[2016-02-17 22:35] RomanGotsiy commented on #13
blocked by https://github.com/angular/angular/issues/6612

[2016-02-18 01:32] IvanGoncharov opened #23 "Group operation parameters by type"
Currently all parameters dump together in one list.
It should be separate lists for different parameter type, like: header, body, query, path, etc.

[2016-02-18 01:35] IvanGoncharov opened #24 "Cleanup bower package"
Currently Bower package has to many unneeded files and dirs:
[code]

[2016-02-23 11:06] #23 closed

[2016-02-24 15:19] #24 closed

[2016-02-24 16:31] IvanGoncharov opened #26 "Add help messages for different types of parameters"
I think it good to add help message (round icon with question mark) describing different types of parameters, especially for things like `form` or `body` parameters.

[2016-02-24 22:16] IvanGoncharov opened #27 "Show supported mime types for form parameters"
From Swagger 2.0 spec:

It's good to show which mime types supported for 'form' parameters in this particular method.

[2016-03-01 19:35] IvanGoncharov opened #28 "Fields doesn't mark as required inside JSON Schema"
For example here: http://rebilly.github.io/ReDoc/#operation/updatePet
`name`, `photoUrls`, `petType` should be marked as required, see:
https://github.com/Rebilly/ReDoc/blob/master/demo/swagger.yml#L791-L794

@adamaltman Thank you for reporting this issue.

[2016-03-02 04:56] #28 closed

[2016-03-12 13:27] adamaltman opened #29 "Strange character in contracted form"
Look at this before and after it's expanded.  Notice the strange character in the contracted version:

![image](https://cloud.githubusercontent.com/assets/1161871/13723210/c545db1c-e823-11e5-98da-445e7e313cd0.png)

![image](https://cloud.githubusercontent.com/assets/1161871/13723208/c10dd63a-e823-11e5-8a62-db7a758be885.png)

[2016-03-12 23:21] RomanGotsiy commented on #29
@adamaltman can you please provide more info: operating system, browser version, etc?

I can't reproduce this. Tried on IE11/Windows, Chrome/Mac and Safari/Mac.

[2016-03-13 02:04] adamaltman commented on #29
Linux (ubuntu) Chrome.  Oddly, I don't seem able to reproduce it now myself.  (At least I have the screenshots to prove I wasn't crazy.)

[2016-03-13 10:34] RomanGotsiy opened #30 "Don't resolve $ref on properties level"
[code]

In this schema `$ref` is not the pointer but the field name

[2016-03-15 09:26] RomanGotsiy opened #31 "allOf works incorrect"
[code]
throws error but it is correct definition

[2016-03-15 14:14] #31 closed

[2016-03-16 15:15] RomanGotsiy opened #32 "Nested schemas: styling is broken on 3rd level"
For example on this schema: https://apis-guru.github.io/api-models/instagram.com/1.0.0/swagger.json

![example](http://i.imgur.com/QnkVoSn.png)

[2016-03-16 22:44] RomanGotsiy opened #33 "Numeric fields: minimum, maximum info are not represented on UI"

[2016-03-16 23:27] #33 closed

[2016-03-23 21:16] #22 closed

[2016-03-27 21:55] #26 closed

[2016-03-28 12:06] adamaltman commented on #29
I can reproduce this by running the deploy script on my local machine.

[2016-03-29 12:56] adamaltman opened #35 "x-environments"
Idea of sandbox, live, integration, test, and other environments.

[2016-03-31 14:35] IvanGoncharov opened #36 "redoc-cli: test script to run on user-supplied openapi spec"
It would be useful to have script or tool to run in browser tests on user's Swagger spec.
It could be as simple as running a headless browser and check that there is no errors or warnings.
Would be the ideal test to integrate into CI just before deploying Swagger spec.
Important thing is to output banner which explains that this errors could be unrelated to Swagger spec but purely ReDoc issues and

[2016-03-31 14:46] IvanGoncharov opened #37 "Provide CDN links for released versions."
It would be useful to have stable CDN links for each release not just for most recent one.

[2016-03-31 14:48] IvanGoncharov commented on #37
https://developer.github.com/v3/repos/releases/#upload-a-release-asset

[2016-03-31 14:53] IvanGoncharov commented on #37
Alternatively this project could be used:
https://github.com/cdnjs/cdnjs/blob/master/documents/autoupdate.md

[2016-04-07 18:02] #32 closed

[2016-04-07 22:01] RomanGotsiy commented on #29
Are you able to reproduce it always? Or like time by time?
Once you reproduce it could you please copy content of redoc.js file and send it to me?

[2016-04-10 12:18] IvanGoncharov opened #38 "Enable compression for OpenAPI spec download"
Set appropriate headers to allow for `gzip` compression.
Discovered by Google's PageSpeed Insights: https://developers.google.com/speed/pagespeed/insights/?url=http%3A%2F%2Frebilly.github.io%2FReDoc%2F&tab=mobile

[2016-04-11 12:30] RomanGotsiy commented on #38
The only file which is not compressed according to PageSpeed Insights is `http://rebilly.github.io/SwaggerTemplateRepo/swagger.yaml`. But this file is served from GitHub pages. I have no control over GitHub pages HTTP headers. GitHub auto gzips most of the files. But it seems that it doesn't gzips `yaml` files.
Closing this issue.

[2016-04-11 12:30] #38 closed

[2016-04-15 01:34] adamaltman commented on #29
The issue for me was the python-based simple http server which isn't utf-8 friendly.  This fixed the issue: http://stackoverflow.com/questions/15288891/how-can-i-serve-files-with-utf-8-encoding-using-python-simplehttpserver

[2016-04-15 01:34] #29 closed

[2016-04-15 19:28] RomanGotsiy opened #39 "Discriminator buttons are ordered unclearly"
Currently, they are ordered alphabetically (unintentionally: order of children definitions in spec).
Better would be to sort them in the same order as in enum
https://github.com/Rebilly/RebillyAPI/pull/29#issuecomment-210599875

[2016-04-20 00:27] adamaltman opened #40 "invalid JSON schema"
http://rebilly.github.io:80/SwaggerTemplateRepo/swagger.yaml" is not a valid JSON Schema

[2016-04-20 09:27] #40 closed

[2016-04-20 19:04] #39 closed

[2016-04-20 19:11] RomanGotsiy commented on #37
OK, I've checked GitHub releases and it doesn't work as CDN.
Instead, it uses Amazon S3 under the hood - the slowest storage ever.

CDNJS is not a variant for us for now, cause they don't accept beta-releases and they require lib to be popular (e.g. 100 stars on GH) as well.

I'll investigate other possible options.

[2016-04-26 20:34] RomanHotsiy opened #42 "Render JsonSchema constraints"
- [x] readOnly
- [x] minLength
- [x] maxLength
- [x] pattern
- [x] minItems
- [x] maxItems
- [x] multipleOf
- [x] defaults
- [x] file payload
- [x] `readOnly` - don't show readOnly fields in request schema
- [x] No need to mark `readOnly` in response

to be continued...

[2016-04-28 17:17] #4 closed

[2016-04-28 20:32] #1 closed

[2016-04-28 20:43] RomanGotsiy opened #43 "Handle examples on property level"
Currently,examples are handled only on the schema top level.
Need to use examples from properties as well

[2016-04-29 07:40] adamaltman commented on #37
We could use Amazon Cloudfront CDN.  Thoughts?

It's relatively cheap, and priced based on actual usage.  So it will only really cost anything if this is really popular... which we know it will be.

On the other hand, is using Amazon S3 under the hood bad?  This is to be used in what way exactly?  By the creators of documentation? Or by the readers of the documentation?

[2016-04-29 18:05] adamaltman commented on #37
https://media.amazonwebservices.com/FS_WP_AWS_CDN_CloudFront.pdf (I'm sure it's biased, but seems it performs.)

[2016-04-29 18:21] RomanGotsiy commented on #37
@adamaltman Amazon CloudFront is not very good solution as it provides by default some random domain name which looks not very well. So it will require us to set up our own domain. As well it requires setup Amazon Account.

A better very simple solution just dawned on me: we will store releases on github pages. GitHub Pages are CDN so I will just put versions into a folder e.g. `releases`.
In such

[2016-05-02 12:58] adamaltman commented on #37
Okay, great.

FYI, we have AWS accounts and domains already, in case it is necessary to go the cloudfront route.

I think your solution sounds good.

[2016-05-06 23:00] rebillyPM opened #44 "Whitespace not trimmed before concatenating root path with dir paths"
There is a relatively insignificant bug in ReDoc- for every URI path, there is a whitespace char between the end of the root path (e.g. "v2.1")  and "/{path}" -  that is causing copy/paste errors in the documentation:

`https://api.rebilly.com/v2.1 /organizations`

[2016-05-10 07:13] RomanGotsiy opened #45 "Extend tests"
Need move some of removed unit tests to e2e:
- [x] click on menu item should scroll to element
- [x] scroll down/up should update active item in menu
- [ ] expand schema
- [ ] discriminator buttons
- [ ] expand examples
- [ ] permanent links

Also need to add unit tests for services

[2016-05-10 07:15] #44 closed

[2016-05-10 09:45] RomanGotsiy commented on #37
Now releases are available at the following addresses:
 - latest release: [http://rebilly.github.io/ReDoc/releases/**latest**/redoc.min.js](http://rebilly.github.io/ReDoc/releases/latest/redoc.min.js)
 - some particular release, e.g. v0.9.0: [http://rebilly.github.io/ReDoc/releases/**v0.9.0**/redoc.min.js](http://rebilly.github.io/ReDoc/releases/v0.9.0/redoc.min.js)

[2016-05-10 09:45] #37 closed

[2016-05-11 20:46] RomanGotsiy opened #46 "Use json-schema-ref-parser instead of swagger-parser"
ReDoc doesn't use features of swagger-parser. So it makes sense to use underlying lib [BigstickCarpe/json-schema-ref-parser](https://github.com/BigstickCarpet/json-schema-ref-parser) as it is more lightweight.

[2016-05-18 19:42] RomanGotsiy opened #47 "json-schema constrains for headers are not rendered"
min, max, items, etc.

[2016-05-18 19:52] RomanGotsiy opened #48 "Show errors and warnings in the top of the page"
As suggested by @darklynx in #6

Possibility to configure displayed error level (warnings/errors), possibility to disable any warnings/errors.
Also show general errors (loading, parsing error)

- [x] general errors (404 while loading file, parsing error)
- [x] internal errors
- [ ] warnings

[2016-05-18 19:52] RomanGotsiy opened #49 "Enhance ReDoc demo page: add other demo schemes"
Add dropdown to let visitors test ReDoc on schemes other than Petstore.

-  [instagram](https://apis-guru.github.io/api-models/instagram.com/1.0.0/swagger.yaml) by @darklynx
- [trello](https://apis-guru.github.io/api-models/trello.com/1.0/swagger.yaml) ?
- other?

[2016-05-18 19:53] RomanGotsiy commented on #6
I've opened two other issues to track suggestion from this thread.
Closing this issue.

[2016-05-18 19:53] #6 closed

[2016-05-18 19:54] RomanGotsiy commented on #42
Defaults are supported for primitive types only. Need to add this to the known issues

[2016-05-18 19:58] RomanGotsiy opened #50 "Add info about cdn usage to README"

[2016-05-18 20:51] darklynx opened #51 "Add in-page search with result highlighting (feature request)"
It would be great to implement an in-page search with results highlighting similar to something available here: http://docs.fidor.de (just enter the word "unique" within the search input field and click on one of the found references)

If you look at http://docs.fidor.de/javascripts/all.js there are a lot of open source JavaScript libraries that helps to implement search and highlight the results,

[2016-05-18 20:55] darklynx commented on #51
P.S. they are using https://github.com/gfranko/jquery.tocify.js for TOC, i'm not sure what is used in ReDoc, but i'm sure the dynamic update of TOC isnt an issue for you.

The concept of in-page search implemented by developers of http://docs.fidor.de looks really nice.

[2016-05-20 12:01] brylie opened #52 "Auto-generate JavaScript request sample?"
On the demo page, there seem to be code samples support for C# and PHP. Is there support for, or plans to implement, JavaScript request snippets?

[2016-05-20 13:59] RomanGotsiy commented on #52
These examples are not autogenerated. They are included into spec itsself using vendor extensions.
Check out the docs: https://github.com/Rebilly/ReDoc/blob/master/docs/redoc-vendor-extensions.md#operation-object-vendor-extensions

[2016-05-20 19:45] #46 closed

[2016-05-25 15:37] RomanGotsiy commented on #52
Hey @brylie! May I ask you if we could close this issue? Or maybe you have any other questions or suggestions?

[2016-05-25 15:41] RomanGotsiy commented on #51
@darklynx, great idea. We liked it.
It's definitely something to consider for after-1.0 releases.

[2016-05-26 06:56] brylie commented on #52
Sure, thanks for following up :-)

[2016-05-26 07:00] #52 closed

[2016-05-29 17:29] #43 closed

[2016-05-30 20:25] adamaltman commented on #43
This one really adds a lot of value.  The documentation is easier to read.

[2016-05-31 09:38] RomanHotsiy opened #53 "API Console feature"
Implement API Console functionality.

Each method in ReDoc will have a button: “Try this method” which will open interactive console modal window.
### There is the list of key features that should be implemented in the first version:
- Ability to send GET, POST, PUT, DELETE, UPDATE requests
- Ability to input/use/save authorization credentials
- Show UI for easy entering parameters for path, heade

[2016-05-31 15:18] RomanGotsiy opened #54 "Fonts on demo page are broken on firefox 46.0.1 under ubuntu 14.04.1"
The issue was reported by @karussell here: https://github.com/APIs-guru/api-models/issues/83#issuecomment-222711359

[2016-05-31 16:10] IvanGoncharov opened #55 "Add button to copy request/reply samples"
Currently, you can't simply select a sample and copy it since you lose all indentation.
Plus you need manually uncollapse all levels.

[2016-05-31 18:11] karussell opened #56 "The docs would be better readable if not expanded by default"
As I learned today about your docs, [this](https://rebilly.github.io/ReDoc/?url=https://apis-guru.github.io/api-models/graphhopper.com/1.0/swagger.yaml) is our automatically generated docs and looks useful. But as a developer I'm overloaded with attributes. Instead I would like to see root entries at the start only (for our API and the "vrp" endpoint this would be just `algorithm`, `relations`, `s

[2016-05-31 20:23] RomanGotsiy commented on #56
@karussell great idea! Thanks.
I will definitely implement this for the first public release.

[2016-06-04 10:48] RomanGotsiy opened #57 "Migrate to TypeScript"
The main reason is an organic integration with Angular2.
It will allow offline compilation which is really important.

[2016-06-17 10:29] #57 closed

[2016-06-18 17:48] RomanGotsiy opened #59 "Request samples should not contain readOnly fields"

[2016-06-18 18:04] #59 closed

[2016-06-19 21:10] IvanGoncharov opened #60 "Add headings from GFM descriptions into menubar"
This will allow more flexibility with writing docs.
- It will stop developers adding tags just to add menu items.

[2016-06-24 12:24] IvanGoncharov commented on #55
Something like this:
![image](https://cloud.githubusercontent.com/assets/8336157/16337632/a0e0f2ae-3a1f-11e6-81db-75bc4726beb8.png)

[2016-06-28 15:03] IvanGoncharov opened #61 "Add icons in menu representing particular HTTP verb"
Something similar to this:
![image](https://cloud.githubusercontent.com/assets/8336157/16419467/855ca782-3d56-11e6-9209-323aad5ed580.png)

[2016-06-29 19:31] #56 closed

[2016-06-29 19:34] RomanGotsiy commented on #30
Fixed

[2016-06-29 19:34] #30 closed

[2016-06-29 19:37] RomanGotsiy opened #62 "Initial prerendering"
For big specs initial page rendering takes too much time.
Using Angular2 Universal prerendering should fix this issue.

This feature should be optional and should work via CLI e.g.:

[code]

[2016-06-29 20:05] RomanGotsiy commented on #54
@karussell could you please check if this issue is still reproducible?
Thanks!

[2016-06-29 20:07] RomanGotsiy commented on #56
@karussell I've implemented the feature.
You can check [your spec](https://rebilly.github.io/ReDoc/?url=https://apis-guru.github.io/api-models/graphhopper.com/1.0/swagger.yaml) look now!

[2016-06-29 21:08] karussell commented on #56
Cool, looks good!

Will include this then in our docs -> https://github.com/graphhopper/directions-api/issues/32

[2016-06-29 21:12] karussell opened #63 "Linking to certain attributes"
You did an cool job already via #56 which makes it already useful and nice for us and we will integrate it soon. I just had the idea that it would be useful to link directly to a property e.g. sometimes we get questions and we could then just say, please see the `allowed_vehicle` property and link it. Instead the customer now has to search manually through the docs to read everything and place it

[2016-06-29 21:16] RomanGotsiy commented on #63
Good idea 👍
Will think about it after public release.

[2016-06-30 08:34] #50 closed

[2016-07-01 00:25] RomanGotsiy opened #64 "Discriminator dropdown issue"
![image](https://cloud.githubusercontent.com/assets/3975738/16508428/6d10156a-3f3b-11e6-9424-bd3cbb35d106.png)

[2016-07-01 00:26] RomanGotsiy opened #65 "Discriminator support for request samples"

[2016-07-15 07:14] RomanGotsiy opened #66 "additionalProperties support for request/response samples"

[2016-07-15 14:48] RomanGotsiy opened #67 "Discriminator dropdown UI issue"
![image](https://cloud.githubusercontent.com/assets/3975738/16878198/4ee68e28-4ab4-11e6-8e65-6f8ff8b1e0a5.png)

[2016-07-15 14:49] RomanGotsiy commented on #67
duplicate

[2016-07-15 14:49] #67 closed

[2016-07-15 19:35] #65 closed

[2016-07-15 19:35] #66 closed

[2016-07-15 20:53] #64 closed

[2016-07-17 15:19] RomanGotsiy commented on #55
Implemented via 6c2bfd8

[2016-07-17 15:19] #55 closed

[2016-07-20 08:38] IvanGoncharov opened #69 "Support for tuple arrays"
represent schemas like this:

[code]

\+ mark some items as required based on value of `minItems`.

[2016-07-20 08:43] IvanGoncharov opened #70 "Special representation for enum with one value"
This very popular pattern in JSON Schema and it would be useful to represent it in special way to a reader.

[2016-07-22 15:48] IvanGoncharov opened #71 "Deduce `type` value from validation keywords"
If schema missing `type` keyword but have one or many of validation keywords which belong to one type then display a warning and add `type` with the appropriate type.

+ `number`: `multipleOf`, `maximum`, `exclusiveMaximum`, `minimum`, `exclusiveMinimum`
+ `string`: `maxLength`, `minLength`, `pattern`
+ `array`: `items`, `maxItems`, `minItems`, `uniqueItems`
+ `object`: `maxProperties`, `minProper

[2016-07-25 11:16] IvanGoncharov opened #72 "If API supports both HTTP and HTTPS use HTTPS"

[2016-07-26 11:07] #71 closed

[2016-07-26 11:52] #72 closed

[2016-07-26 11:53] RomanGotsiy commented on #54
Issue seems to be already fixed.
Feel free to reopen if it's not.

[2016-07-26 11:53] #54 closed

[2016-07-27 15:58] #48 closed

[2016-07-28 04:26] #47 closed

[2016-07-29 10:44] #49 closed

[2016-07-31 20:56] IvanGoncharov opened #73 "API console: ability to pin parameter value."
Similar to how it implemented in Apiary console:
https://help.apiary.io/tools/interactive-documentation/#persistent-http-headers-in-console

[2016-08-02 13:07] IvanGoncharov opened #75 "Redoc sidemenu overlaps page footer"
![image](https://cloud.githubusercontent.com/assets/8336157/17329390/2293b240-58cb-11e6-906d-e937affdd148.png)

[2016-08-03 18:10] DavidBiesack opened #76 "TypeError: Cannot set property '_pointer' of null"
I tried to load an OpenAPI spec as per the TL;DR HTML in the README and got a **TypeError: Cannot set property '_pointer' of null"" error in the browser. In the inspector I found:
[code]
The OAS spec passes schema validation against http://swagger.io/v2/schema.json
However, I cannot share it here due to the IP.  I also get this with other OAS documents when using

http://myhost.com/ReDoc.html?spec

[2016-08-03 18:42] RomanGotsiy commented on #76
Hi @DavidBiesack. Let's try to do remote debugging 😉

First: ReDoc doesn't support `?spec_url` URL parameter (you probably confusing it with SwaggerUI). We support `?url` but only on demo page, not as a part of ReDoc.

Could you replace `redoc.min.js` reference to `http://rebilly.github.io/ReDoc/dist/redoc.js` and copy-paste error here?

[2016-08-03 20:37] RomanGotsiy opened #77 "Add << and >> controls on the panel border to expand/shrink the right panel"
add << and >> controls on the panel border to expand/shrink the right panel!

Suggested by [@davidbiesack](https://twitter.com/davidbiesack/status/760937148359053312)

[2016-08-04 13:00] DavidBiesack commented on #76
thanks, @RomanGotsiy -- from reading https://github.com/Rebilly/ReDoc/blob/master/README.md I thought it allowed query parameters (in Options section -- perhaps clarify that to say where those options are specified).
Will try non-minified and report back

[2016-08-04 13:25] DavidBiesack commented on #76
I tried the non-minified and it never completed loading my local OAS document.
It may indeed be a CORS issues. I can load my other OAS docs via the <redoc> element in the html file, but this one has a schema that references an external schema (the OAS spec, in fact)

[code]

as well as

[2016-08-04 13:40] DavidBiesack opened #78 "tags other than the first are not expanded"
ReDoc only expands/shows the operations under the first tag in the left panel. In the image, MICRO URLS shows two operations, but  I have two more tags in my OAS spec; MICRO URL has 5 operations and ROOT has 1 operation, but the "API REFERENCE" column does not show those operations. I can click on the tags and the middle panel refreshes and correctly shows the tag name and description and lists th

[2016-08-04 13:46] RomanGotsiy commented on #76
ok, I've tried to write a minimal example with fragment you posted in the previous comment.
Your spec is invalid because Swagger/OpeanAPI doesn't support lots of keyword from JsonSchema as `oneOf`, `additionalItems`, `not`, etc. and the schema you're referencing has them a lot (check out it in the [Swagger Editor](http://editor.swagger.io/#/?import=https://gist.githubusercontent.com/RomanGotsiy/ee

[2016-08-04 13:48] RomanGotsiy commented on #78
Could you provide some minimal reproducible spec? Or maybe you may share the spec?

Also, could you please verify browser console doesn't have any error logs? And in case it has copy it over here.

Thanks.

[2016-08-04 15:50] DavidBiesack commented on #76
Understood... it's ok that ReDoc is stricter than Swagger-UI. I'll update my OAS to be fully OAS schema compliant.If I see this problem in another context, I'll reopen.

[2016-08-04 15:50] #76 closed

[2016-08-04 15:55] RomanGotsiy commented on #76
Great.
ReDoc must be stricter because it actually renders JSON schema in human readable form.

[2016-08-04 16:38] DavidBiesack commented on #78
I get this traceback
[code]
My schema use allOf but subshema are objects, such as
[code]
I can't share the OAS doc here - is there some other way you would like me to share it (email?)

[2016-08-04 16:41] DavidBiesack commented on #78
@RomanGotsiy I will DM a gist containing the swagger.json via twitter

[2016-08-04 17:02] DavidBiesack commented on #78
tracked down to missing "type" : "object" in the schema, combined with an older version of redoc.js

[2016-08-04 17:02] #78 closed

[2016-08-05 00:10] adamaltman commented on #77
What about the left panel too?

[2016-08-09 16:32] RomanGotsiy commented on #77
@adamaltman you mean to have the same button to expand/shrink left reference menu?
What are use cases?
btw, menu is hidden automatically on small screens

[2016-08-12 17:42] #70 closed

[2016-08-16 15:27] amcdnl opened #79 "Webpack Setup"
Would you be inclined to move off system/jspm to webpack?

I'm happy to PR back if I can get it working, given angular-cli is doing webpack now I think its a obvious migration option.

[2016-08-16 15:28] amcdnl opened #80 "Upgrade to Typescript 2.0"
TypeScript 2.0 is way better and nixes the need for `typings`.

[2016-08-16 15:29] amcdnl opened #81 "Move from typings to @types"
When you move to TypeScript 2.0 you can get rid of typings and use @types which is the pref method of type aquisition now.

[2016-08-16 15:35] RomanGotsiy commented on #79
@amcdnl yes, I've been considering this change since I saw [your tweet](https://twitter.com/amcdnl/status/760980156928450560) :)
Your PR would be super useful as I've never used WebPack before. I am finishing upgrading to the latest RC today. Also doing some refactoring.
So if you want to contribute, wait for me to finish this. I will post back here once.

[2016-08-16 15:39] amcdnl commented on #79
Haha, nice! Hugeeee jump in perf!

Webpack shouldn't affect any of that, its just the build run. Do you have a time frame for when that would be done?

[2016-08-16 15:46] RomanGotsiy commented on #79
Yes. Going to finish upgrade and refactor today night (~8-10PM PDT)

I think so :)

[2016-08-16 15:47] RomanGotsiy commented on #80
Frankly speaking, this is my first project using Typescript and I migrated to typescript in the process (initially it was ES6 - that's why I have babel dependencies and that's why codebase is poorly typed)

I believe moving to TS 2.0 can be done together with https://github.com/Rebilly/ReDoc/issues/79.

Can't it?

[2016-08-16 15:54] amcdnl commented on #80
Yup :)

[2016-08-16 15:55] amcdnl commented on #79
Here is a reference for a Webpack setup - https://github.com/swimlane/angular2-data-table

[2016-08-17 18:25] adamaltman commented on #77
Ahh, I suppose that's fine.  The use case being small screens.

[2016-08-19 03:30] RomanGotsiy commented on #79
Will finish it tomorrow. Have some personal troubles + troubles with migrating tests.

[2016-08-19 22:32] pedro-teixeira opened #82 "Multiline description with json"
I'm adding descriptions with `\n` but they are not interpreted.

Example:

[code]

Am I doing something wrong or is this really an issue?

[2016-08-20 09:35] RomanGotsiy commented on #82
@pedro-teixeira this is an issue.
Will try to include this fix in the next release.

[2016-08-20 09:38] pedro-teixeira commented on #82
Thanks @RomanGotsiy

[2016-08-21 07:56] #82 closed

[2016-08-21 09:15] pedro-teixeira commented on #82
@RomanGotsiy thank you for the quick fix! I saw you created a new release (v1.1.1) but I think the GitHub pages release is missing.

[2016-08-21 09:26] pedro-teixeira commented on #82
Now it's there, it seems to be working fine! Thank you again.

[2016-08-21 09:28] RomanGotsiy commented on #82
@pedro-teixeira yes, GitHub pages release is deployed by CI so it requires some time

[2016-08-21 14:29] RomanGotsiy commented on #82
@pedro-teixeira I'm sorry but I have to revert this fix.
According to the Swagger spec description field is [GitHub Flavored Markdown](https://guides.github.com/features/mastering-markdown/#GitHub-flavored-markdown).

So when you logged this issue I had tried adding a new line here in comments to this issue and it worked: line break was added. So that's why I considered this to be a bug. But now I

[2016-08-21 17:58] pedro-teixeira commented on #82
@RomanGotsiy works for me! Thank you!

[2016-08-22 13:32] fcaprilli opened #83 "Install failure"
Hello... following the instructions for running locally (I have installed node.js) - failure at the npm run jspm-install step. There is no npm-debug.log file that I can see - console output below. Thanks!

[09:21:48] Starting 'bundle'...
[09:21:49] 'bundle' errored after 1.15 s
[09:21:49] Error on fetch for redoc.module.js at file:///C:/ReDoc/redoc.module.j
s
        Loading .tmp\lib\index.js

[2016-08-22 14:06] RomanGotsiy commented on #83
hello @fcaprilli. Thanks for reporting the issue.
It is only partial log so I cannot reproduce your setup.
Could you provide me with a whole console output starting from `git clone`.

[2016-08-22 17:58] fcaprilli commented on #83
Attached a series of files - they're numbered. Thanks!

[1_git_clone.txt](https://github.com/Rebilly/ReDoc/files/430810/1_git_clone.txt)
[2_npm_install_console.txt](https://github.com/Rebilly/ReDoc/files/430813/2_npm_install_console.txt)
[3_npm_install.txt](https://github.com/Rebilly/ReDoc/files/430812/3_npm_install.txt)
[4_npm_run_jspm-install.txt](https://github.com/Rebilly/ReDoc/files/430814/4_

[2016-08-22 20:33] RomanGotsiy commented on #83
Thanks for logs. It seems to be a windows-specific issue. I will test it on VM and let you know once I found an issue.

BTW, I'm just curious why you need to run ReDoc locally? Are you going to customize it? Because running ReDoc locally is mostly intended for development (I need to rename this section to "Development")

[2016-08-22 21:06] fcaprilli commented on #83
Hey Roman - thanks. If I don't want to deploy my documentation to the cloud, don't I have to run it locally? Am I overthinking this? How do I run this and point to a local swagger.json? Is it simple as running the page you show under deployment and point to a localhost file?

[2016-08-22 21:22] RomanGotsiy commented on #83
yes, just copy the example from [deployment](https://github.com/Rebilly/ReDoc#deployment) section and change `spec-url` to the localhost swagger file. The one limitation: it doesn't work with `file:///` protocol so you need to host both `index.html` and `swagger.json` under any HTTP server.

for example: put `index.html` (copied from deployment) and `swagger.json` to the same folder, modify `spec-

[2016-08-23 00:20] maneeshsahu commented on #83
I have an npm start issue on a Mac as well:

`~/dev3/Redoc $ npm start

/Users/maneesh.sahu/dev3/ReDoc/build/tasks/build.js:42
gulp.task('copyDebug', () => {
                        ^
SyntaxError: Unexpected token )
    at exports.runInThisContext (vm.js:75:16)
    at Module._compile (module.js:445:25)
    at Object.Module._extensions..js (module.js:480:10)
    at Module.load (module.js:357:32)

[2016-08-23 00:45] krsyoung commented on #75
Hey @RomanGotsiy, looks like it has the same issue with overlapping a navbar as well (when using Zurb foundation).

If I can figure out how to work around it with Zurb I'll post back -- otherwise I'm guessing it will benefit from the same fix as the footer.

[2016-08-23 11:31] RomanGotsiy commented on #83
@maneeshsahu seems you are using an old version of node:

This version doesn't support ES6 fat arrow functions (`() => {`)
Please upgrade to at least Node 4.0LTS

[2016-08-23 11:34] RomanGotsiy commented on #75
@krsyoung does ReDoc overlaps navbar of footer? If it overlaps navbar: have you tried using [`scroll-y-offset`](https://github.com/Rebilly/ReDoc#redoc-tag-attributes) option of ReDoc?
Check out [example]( https://github.com/Rebilly/ReDoc/blob/master/demo/index.html#L25)

[2016-08-23 12:02] fcaprilli commented on #83
Roman - thanks for the info. I got it running the way you suggested (simple HTML file from a local server.

Now I'm comparing the way you render the API to how the Swagger editor does. Perhaps yours is more finicky when it comes to syntax?  I'll paste in a few screen shots. If you like, I can provide my json spec.

Here's the Swagger editor version - note how I have defined some elements as arrays

[2016-08-23 12:09] RomanGotsiy commented on #83
@fcaprilli

Great!

Yes, would be fine. It will help a lot

[2016-08-23 12:10] fcaprilli commented on #83
Can I send it privately? Not that there are any trade secrets embedded, but - just in case ;)

Also - you want the YAML? JSON? both?

[2016-08-23 12:11] fcaprilli commented on #83
p.s. very excited about this - it's exactly what I've been looking for!

[2016-08-23 12:13] RomanGotsiy commented on #83
yes, send it to my email (you can find it in my GitHub profile)

Send either yaml or json. Doesn't matter.

[2016-08-23 12:27] RomanGotsiy opened #84 "ReDoc incorrectly detects types of array fields inside object"
[code]

`prop1` is detected as `object`

Reported by @fcaprilli in #83

[2016-08-23 12:32] RomanGotsiy commented on #83
@fcaprilli I've checked your spec and this seems to be a ReDoc bug. I reported it as a separate issue - #84
Will try to ship the fix in the next release

[2016-08-23 15:13] krsyoung commented on #75
Hey @RomanGotsiy, thanks for the pointer!  This helps but (in my case) I don't have a sticky navbar so I end up with a gap the size of the navbar as soon as I scroll down the page.   It does look perfect when the page initially loads using the `scroll-y-offset` option and `body > header` in my case.

I'll keep messing with it, you've got me going in the right direction.

[2016-08-23 15:23] RomanGotsiy commented on #75
@krsyoung it would be helpful if you can share link to your site so I can check it and fix this issue

[2016-08-23 15:32] RomanGotsiy commented on #75
I mean nothing is wrong with your setup. It is ReDoc issue and I'm interested to fix it to cover as many as possible common use cases

[2016-08-23 15:41] krsyoung commented on #75
Hey no worries @RomanGotsiy, I've got lots of issues!  Will have a link for you later today.  Appreciate the help.  -- BTW I can open another issue if you want to track separately.

[2016-08-23 16:53] maneeshsahu opened #85 "ReDoc doesn't support object with $ref object"
Swagger allows the definition of such an object, that we use in the response definitions.

`
"actions": {
    "description": "Actions",
          "type": "object",
          "additionalProperties": {
            "$ref": "object"
          }
        }
`
When I use this with ReDoc, I get this error message:

ReDoc might be attempting to retrieve this pre-defined data type - object and thats why it i

[2016-08-23 17:04] RomanGotsiy commented on #85
@maneeshsahu which version of swagger are you using?
If you use Swagger 2.0 then do you have `object` in your `definitions` or you try to use a standard type `object` ?

[2016-08-23 17:17] maneeshsahu commented on #85
I am using Swagger 2.0/OpenAPI specification.

No, object is not in the definitions. This is a pre-defined type just like string, float.

Such a data type allows the value to be flexible, meaning in the different language codegens it would have the following language bindings:

**C#:**
`Dictionary<string, Object>`

**Java:**
`Map<String, Object`

**JavaScript:**
`{'String': Object}`

**Objective-C

[2016-08-23 17:20] RomanGotsiy commented on #85
Then just use `type: object`:
[code]

`$ref` is for referencing user-defined types.

[2016-08-23 17:25] maneeshsahu commented on #85
That fixed the issue. It is rendering the spec now. Thank you!

[2016-08-23 17:32] #85 closed

[2016-08-24 08:38] elcamlost opened #86 "Use example objects to show response examples"
Now ReDoc tries to generate examples based on schema field of responce object. But we have examples in respnse to and if example field is present, it'll be better to use it instead of schema.

[2016-08-24 09:17] RomanGotsiy commented on #86
@elcamlost could you share a part of spec where you have examples in response?

[2016-08-24 09:29] elcamlost commented on #86
I'm sorry, my bad.
Swagger spec says about schema field for response object "If this field does not exist, it means no content is returned as part of the response." So I was wrong, when providing example objects without schema object and awaiting examples in ReDoc.

[2016-08-24 09:29] #86 closed

[2016-08-25 20:34] krsyoung commented on #75
Hey @RomanGotsiy, here is a link to the site with the issue:  http://169.44.121.154/docs/api

It is based on Zurb Foundation.  I didn't have a chance to look at it today but hopefully will tomorrow.

[2016-08-26 08:19] RomanGotsiy commented on #75
@krsyoung I have checked your link.
It's ReDoc issue, nothing wrong with your setup. I will try to fix this for the next release (most likely at the beginning of the next week)

[2016-08-27 10:45] IvanGoncharov opened #87 "CDN: create major releases, for e.g. `1.x.x`"
`latest` is unsafe since it updated with breaking changes and should be used only for testing, demo, etc.
But `1.x.x` - should be safe since it guarantees that no breaking changes will occur.

[2016-08-28 19:46] #80 closed

[2016-08-28 20:11] IvanGoncharov opened #88 "Menu not scrolled when you scrolled past first page of menu."
See screenshot:
![image](https://cloud.githubusercontent.com/assets/8336157/18036484/25229e6e-6d74-11e6-8e01-730fa52a770d.png)

[2016-08-28 20:15] IvanGoncharov opened #89 "Add banner to official realeses"
Should state release version and also link to this repo.
Since ReDoc switched to `webpack` this plugin can be used:
https://webpack.github.io/docs/list-of-plugins.html#bannerplugin

[2016-08-28 20:18] IvanGoncharov commented on #89
Or this external tool can be used.
This one (https://github.com/jonschlinkert/add-banner) automatically get the version from `package.json`

[2016-08-29 04:46] #81 closed

[2016-08-29 06:36] RomanGotsiy commented on #79
Finally I did it! It took me more time than expected but I'm happy with the result. Dev server is mega fast if compare to my old thing :)
+ no more duplicated modules in `node_packages` and `jspm_packages`
@amcdnl thanks for the suggestion!

[2016-08-29 06:36] #79 closed

[2016-08-29 06:39] RomanGotsiy commented on #87
Implemented temporal solution (only `1.x.x` folder). Will be deployed with the next release.

[2016-08-30 12:45] dvh opened #90 "Add "Run in Postman" button"
Postman is a client application to test, debug and explore API(call)s. With it's collection format (a JSON file) it's easy to share example calls and functional API tests (written in Javascript). These tests can then be imported with Newman (Postman CLI) and integrated in CI tools like Jenkins. Postman also generates SDKs in different programming languages. They recently launched the "Run in Postm

[2016-08-30 12:49] reinvantveer commented on #90
:+1: I'd desperately want this to be available!

[2016-08-30 13:09] RomanGotsiy commented on #90
@dvh thanks for a suggestion, but I don't think this should be part of ReDoc. For example, there exist button for DHC, and tomorrow someone can open similar issue :) I can't get everything inside ReDoc (+ PostMan cloud is a commercial product).

BUT you can just add postman button to the description of swagger:
[code]

Let me know if adding button to markdown works for you.

[2016-08-30 13:19] dvh commented on #90
Of course, you are right! Adding it to markdown is sufficient.

[2016-08-30 13:19] #90 closed

[2016-08-30 13:32] dvh opened #91 "Code samples versus body payloads"
I think the `x-code-samples` are meant to help developers getting started with certain requests, right? If so, I find it confusing that these samples are rendered in the request samples area, which already contains the body payload. See http://rebilly.github.io/ReDoc/ for example. The 'Add a new pet to the store' call contains JSON, C# and PHP samples. However, JSON is the actual body which needs

[2016-08-30 17:05] #84 closed

[2016-08-30 17:05] #89 closed

[2016-08-30 17:24] kedashoe opened #92 "Support for nullable/x-nullable"
Hello, just getting started with swagger and came across ReDoc. Really great, got it working pretty quick despite having no idea what I'm doing :p

I'd like to use nullable for a couple properties in an object definition. I came across [this issue](https://github.com/OAI/OpenAPI-Specification/issues/229) and it looks like the OpenAPI folks are indeed [going to support it](https://github.com/OAI/Op

[2016-08-30 17:35] RomanGotsiy commented on #92
@kedashoe thanks for the feature request.
This is probably required for many real-life APIs. So yes, this will be supported by ReDoc.

[2016-08-30 17:48] RomanGotsiy commented on #75
@krsyoung I have fixed navbar overlaps. Remove `scroll-y-offset` from `<redoc>` element on your site to get it working.

Regarding footer overflow - will fix this for the next release.

[2016-08-30 17:49] RomanGotsiy commented on #84
@fcaprilli the issue is resolved and new release is published to the CDN.

Let me know if it works for you.

[2016-08-30 18:23] cayter commented on #7
+1

[2016-08-30 18:45] RomanGotsiy commented on #91
This is basically done for economy of vertical space. + both JSON payload example and code samples are related to request.
Also, most likely the one who reads the code sample doesn't need payload sample and vice versa.

But layout is not fixed in stone :) so any suggestions about how to organise it better are welcome

[2016-08-30 18:49] dvh commented on #91
I will think about it and come up with a suggestion ;)

But is it correct that code samples don't work for GET requests or am I doing something wrong?

[2016-08-30 18:57] cayter commented on #15
Can we actually render `Request Sample` when there is `x-code-samples` specified? I have an use case to add my own written SDK code sample.

[2016-08-30 19:13] RomanGotsiy opened #93 "Code samples are not shown for operations without body param"
Reported by @cayter in #15

[2016-08-30 19:13] RomanGotsiy commented on #15
@cayter yes, this is actually a bug. Thanks for reporting.
I've opened a separate issue: https://github.com/Rebilly/ReDoc/issues/93

[2016-08-30 19:14] fcaprilli commented on #84
Hey Roman:

Yes, the arrays properly expand now. Thanks!

I am still seeing Warning errors at the top of the page:

No "type" specified at "#/definitions/Summaries". Automatically detected: "object"
No "type" specified at "#/definitions/Status". Automatically detected: "object"
No "type" specified at "#/definitions/WirelineCustomerSummary". Automatically detected: "object"
No "type" specified at "

[2016-08-30 19:17] RomanGotsiy commented on #84
@fcaprilli I can't see attached images.

regarding warnings you see you have two option:
1) add `type: object` to each definition you get warnings for
2) add [`suppress-warnings`](https://github.com/Rebilly/ReDoc#redoc-tag-attributes) attribute to `<redoc>` tag:
[code]

[2016-08-30 20:03] RomanGotsiy commented on #91
@dvh are you trying the code samples from demo page? They are just placeholders and are not supposed to work.
Probably I should add some comments saying this to avoid confusion...

[2016-08-30 20:06] RomanGotsiy commented on #60
Partially implemented: first-level headings are pulled into menu

[2016-08-30 20:11] RomanGotsiy commented on #53
A few mockups:

![image](https://cloud.githubusercontent.com/assets/3975738/18105118/eca6f532-6f06-11e6-8a9b-0decc13a3e57.png)

![image](https://cloud.githubusercontent.com/assets/3975738/18105139/ffbad7ba-6f06-11e6-9d0d-d429a6639a0f.png)

[2016-08-31 02:23] cayter commented on #15
Ahh ok thanks.

[2016-08-31 06:28] dvh commented on #91
No, I meant that code samples don't seem to work for GET operations, but that probably is fixed by issue #93.

[2016-08-31 12:52] RomanGotsiy commented on #91
Yes, you're right. Fix should be easy so expect this in the next release.

[2016-08-31 19:02] #92 closed

[2016-08-31 19:37] nchudleigh opened #96 "Error displaying when trying to use multiple files for definition reference"
<img width="745" alt="screen shot 2016-08-31 at 3 32 50 pm" src="https://cloud.githubusercontent.com/assets/5580824/18143480/31856c90-6f90-11e6-807f-2db29a374c8a.png">

My file structure looks like this:
<img width="191" alt="screen shot 2016-08-31 at 3 33 48 pm" src="https://cloud.githubusercontent.com/assets/5580824/18143511/57d659ea-6f90-11e6-840a-9527bc0f18fc.png">

swagger.json has all the pa

[2016-08-31 19:42] RomanGotsiy commented on #96
@nchudleigh could you please provide more details?

1) browser console output
2) parts of spec (can be simplified) where you reference external definitions (if it is possible would be great if you share all your files - you can send them to my email)

Thanks

[2016-08-31 19:50] RomanGotsiy opened #97 "Dev server scss live reloading"
+ spec auto-reloading

[2016-08-31 20:04] nchudleigh commented on #96
Thank you for the quick reply.  I have resorted to rendering all into one file for now using json-refs.

Heres a shot of the console.  I have sent you the files over email.

<img width="1437" alt="screen shot 2016-08-31 at 4 00 39 pm" src="https://cloud.githubusercontent.com/assets/5580824/18144336/166c87be-6f94-11e6-88a1-deb24969420c.png">

[2016-09-01 07:39] RomanGotsiy commented on #75
@IvanGoncharov @krsyoung this issue is fixed in the latest release: v1.3.0
I have checked both sites and side menu no more overflows page footer

@krsyoung for you site you need to remove `scroll-y-offset` option from `<redoc>`

[2016-09-01 07:39] #75 closed

[2016-09-01 07:41] RomanGotsiy commented on #93
@cayter fixed in the last release

[2016-09-01 07:41] #93 closed

[2016-09-01 08:44] cayter commented on #93
Thanks a lot man.

[2016-09-02 02:00] gmr opened #98 "Feature Request: Navigation Sorting"
I just saw this tonight and have already started to roll it out for my APIs.

One nit is the ordering of the sidebar navigation seems to be fairly random.

It'd be awesome if I could sort endpoints in the navigation with an `x-` variable or by setting a configuration value that told it to sort alpha by `operationId` or `summary`.

[2016-09-02 08:19] typekpb opened #99 "Request samples reflects the change of `petType`"
Steps to reproduce:
1. navigate to: http://rebilly.github.io/ReDoc/
1. pick `pet` -> `Add a new pet to the store`
1. change `petType` from: `Cat` to `Dog`

Is:
Secton`Request samples` doesn't reflect the change (Cat is still there, instead of Dog)

Expected:
Secton`Request samples` reflects the change

[2016-09-02 08:24] RomanGotsiy commented on #98
👍  🎉

Currently, methods are grouped by tags (similar to the SwaggerUI) and tags (top level menu items) are sorted according to the order of [`tags` field](https://github.com/OAI/OpenAPI-Specification/blob/master//versions/2.0.md#swagger-object).

Inside tags methods are ordered in the same order as the appear in json/yaml spec (yes I know json doesn't have an order but in all modern javascript en

[2016-09-02 08:32] RomanGotsiy commented on #99
@typekpb thanks.
We definitely should implement it, but it requires some work to resolve all edge cases (e.g. discriminator inside discriminator)

[2016-09-02 12:54] gmr commented on #98
I have the tags for organizing, I was more interested in the actual endpoint/method sorting.  I've also noticed request and response parameter sorting doesn't match the spec as well.

It seems the sorting is deterministic, but not based upon the document as far as I can tell.

I was thinking an ``x-sort-order`` or something might be a good way to go, but perhaps I'm missing something.

Thanks BTW,

[2016-09-02 13:48] gmr opened #100 "Feature Request: Example parameter values"
I know this is somewhat bleeding into the open-api spec itself, so I understand if this is too much scope creep, but I'd love to be able to provide example values for parameter values. The examples are great for responses, but for requests, the auto-built examples built off of type are good, but utilitarian.

So for example, I could set a `x-example` attribute for a parameter in a schema I could t

[2016-09-02 14:30] RomanGotsiy commented on #100
This is actually supported by both OpenAPI spec and ReDoc :)

You can use `example` field on [Schema Object](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#schema-object).

So you can specify `example` on property level (see example in our [demo spec](https://github.com/Rebilly/ReDoc/blob/master/demo/swagger.yaml#L794) or even on schema level:

[code]

Does it solve your

[2016-09-02 16:41] gmr commented on #100
Ah my bad, I missed the example attribute, or conflated it with examples for responses.

[2016-09-02 16:41] #100 closed

[2016-09-06 05:41] jenniferwang2000 opened #101 "Can't add json request sample by using x-code-samples"
Currently i can only add JSON request sample by specifying "example" value for each parameter in definitions. It's kind of troublesome. While I can add other language request samples like PHP, C#, etc by using "x-code samples". If I add JSON request sample by using "x-code samples", two JSON tabs are generated.

[2016-09-06 06:34] RomanGotsiy commented on #101
@jenniferwang2000 according, to OpenAPI spec you can use `example` field on [Schema Object](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#schema-object).

So just add `example` to the definition itself, not for each parameter, e.g.:

[code]

Does it solve your problem?

[2016-09-06 07:51] jenniferwang2000 commented on #101
Yes, it is exactly what i need. Thanks a lot! Thank you~~

[2016-09-06 07:52] #101 closed

[2016-09-07 18:09] ChrisPearce opened #103 "Feature Request: Render contents of externalDocs item"
It would be very useful if the description and url properties of the externalDocs items were rendered as part of the documentation output

[2016-09-07 18:12] RomanGotsiy commented on #103
@ChrisPearce thanks for the suggestion.
Will definitely implement this. Hopefully, I will do it in the next minor release but most likely in the next next :)

[2016-09-07 21:08] RomanGotsiy opened #104 "Schema docs crashing for type:array without items"
[code]

noticed here: http://beta.opendota.com/api/#tag/search%2Fpaths%2F~1search%2Fget

[2016-09-09 02:57] krsyoung commented on #75
Beautiful, for the record thanks @RomanGotsiy!  Things are looking great at https://apiharmony-open.mybluemix.net/docs/api.

[2016-09-09 14:55] sinha-bharat opened #108 "host value is not automatically propagated if not specified in spec (relative path to spec case)"
The definition of my rest service path/to/my/service/url which works fine when I specify base path for swagger; But when I use ReDoc the rightmost panel shows the path as
POST http://null/path/to/my/service/url

the swagger.json representation has basePath specified, how can ReDoc read the element and fix the post URL.

I am using relative path for redoc spec-url.
  <redoc spec-url='path/to/my/ser

[2016-09-09 15:53] RomanGotsiy commented on #108
I have checked and confirm this is a bug. I will fix it for the next release.
Temporary as a workaround you can either specify full URL to your spec in ReDoc options or specify `host` in the swagger (see example in our [demo spec](https://github.com/Rebilly/ReDoc/blob/master/demo/swagger.yaml))

[2016-09-09 17:16] sinha-bharat commented on #108
I wasn't sure that I had enough there for you to explain the problem but it seems that was okay.

Thank you for adding the label and fixing it in the next release.

[2016-09-12 17:28] nakedible-p opened #109 "False example and default values not working for boolean fields"
Having a default value of `false` or an example value of `false` does not seem to be working for fields whose type is `boolean`. Instead the values are ignored.

[2016-09-12 17:29] RomanGotsiy commented on #109
@nakedible-p thanks, will be fixed in the next minor release

[2016-09-12 18:06] rbaumi commented on #7
+1

[2016-09-12 20:41] RomanGotsiy commented on #91
Fixed together with #93

[2016-09-12 20:41] #91 closed

[2016-09-12 22:27] RomanGotsiy commented on #109
fixed, and released

[2016-09-12 22:27] #109 closed

[2016-09-12 22:27] RomanGotsiy commented on #108
fixed and released

[2016-09-12 22:27] #108 closed

[2016-09-13 05:58] crystalfp opened #110 "Token "QueryParam" does not exist."
I'm in the middle of splitting parameters and definitions from my swagger.yaml file into distinct yaml files. Now ReDoc refuses to load my file pretending that:

**Oops... ReDoc failed to render this spec**

**Error resolving $ref pointer "http://localhost:8080/parameters.yaml#/QueryParam". Token "QueryParam" does not exist.**

When in fact it is here in parameters.yaml file.

But if I put the yam

[2016-09-13 06:12] nakedible-p opened #111 "False example value not working for boolean fields"
Referencing #109, it seems that `example: false` still does not work.

[code]
Produces `Default: false` nicely in the documentation, but `field: true` in the example message.

[2016-09-13 06:34] RomanGotsiy commented on #111
@nakedible-p, yep, my fault :) Thanks for reporting.
Will be fixed in the next release

[2016-09-13 06:39] #110 closed

[2016-09-13 06:40] crystalfp commented on #110
Seems a mongoose caching issue. Sorry for the noise.

[2016-09-13 06:40] RomanGotsiy commented on #110
Hey @crystalfp.

I suspect something is wrong your server. I've just downloaded your file, unpacked and started simple http server ([http-server](https://www.npmjs.com/package/http-server)) and it worked fine for me.

[2016-09-13 06:40] RomanGotsiy commented on #110
@crystalfp NP :)

[2016-09-13 07:11] nakedible-p commented on #111
Great! Excellent responsiveness :+1:

[2016-09-13 09:45] MikeRalphson commented on #42
@RomanGotsiy Should `dividedBy` actually be `multipleOf`? I don't recognise it from the Swagger spec or JSON Schema draft 4.

[2016-09-13 10:02] RomanGotsiy commented on #42
@MikeRalphson yes, you're right. Updated.
Thanks

[2016-09-13 16:59] sinha-bharat commented on #108
Thank you Roman; I verified and it works as intended. Thank you!

[2016-09-15 17:59] sinha-bharat opened #112 "specify swagger.json as input to ReDoc page"
Can ReDoc also take swagger.json path/url as input text like swagger? This would help us deploy the page and handle swagger.json path of various applications using a single app. This will be an enhancement.

Thanks.

[2016-09-16 01:06] natke opened #113 "Better error messages for diagnosis"
When I try to render the documentation for my swagger.json spec, I get the following error:

Oops... ReDoc failed to render this spec

Unable to resolve $ref pointer

It's a rather large specification and probably has an error in it, but I need some more information to locate the error (if there is one). Is it possible to get access to some more information about the error?

I tried to run the dem

[2016-09-16 02:50] RomanGotsiy commented on #113
@natke, yes this error message definitely should be improved.
I will check this.

Actually, this error message comes from tool I use for reference resolving so most likely your spec has some unresolvable references. Try to validate your spec using `editor.swagger.io`.

Regarding `npm run jspm-install`: it's not actual anymore, I just forgot to update steps. Thanks for reporting this.

[2016-09-16 16:03] natke commented on #113
Thanks for the quick reply.

Is the tool you talking about: https://www.npmjs.com/package/json-schema-ref-parser?

I ran the spec through the tool manually and it generated the resolved spec fine. But maybe I didn't exactly replicate the calls to this tool in the way that redoc is doing? Is it possible to summarize the API calls you are using?

[2016-09-17 13:38] RomanGotsiy commented on #113
@natke, would be great if you're able to provide me with a minimal reproducible spec or the actual spec you are trying to visualize with ReDoc?

[2016-09-17 17:35] natke commented on #113
Hi again, I did manage to get it working. I think the problem was that I was trying to serve a file. Once I served both my index.html and my spec over http it worked fine.

I think that error message is not actually from the parser - it is from your code, but it looks like there is an unresolved promise somewhere in the call chain. Might be worth looking into, and adding some better diagnostics an

[2016-09-19 06:37] ukko opened #114 "Missed jspm"
The README.md file contains the item `npm jspm-install` but these rules are no package.json

[2016-09-20 09:10] geocine opened #115 "Suggestion to support postman collection schema for documentation generation"
I want to suggest supporting the Postman Collection Schema https://schema.getpostman.com/ for document generation

[2016-09-20 22:15] RomanGotsiy commented on #113
@natke, If you don't mind I will keep this issue open as it is not fixed: error messages sometimes are not clear

[2016-09-20 22:20] RomanGotsiy commented on #115
Unfortunately, this is out-of-scope of this project. Postman btw has it's own documentation.
Maybe there is a convertor from postman collection schema to swagger

[2016-09-20 22:20] #115 closed

[2016-09-20 22:28] #114 closed

[2016-09-20 22:30] RomanGotsiy commented on #112
@sinha-bharat I'm not sure If I understood you correctly. Do you need to specify which file to use as an input in runtime?

Check out [Advanced usage](https://github.com/Rebilly/ReDoc#advanced-usage) section in README.

[2016-09-20 22:32] natke commented on #113
No problem - just wanted to indicate that I didn't have any further issues

[2016-09-21 08:44] amanganiello90 opened #116 "Error when I want to start the development server"
I have followed every step of your development section on Windows machine, with your Demo configuration that is a yaml file and not a json (please correct your doc).
So I haven't replace your  **demo/swagger.yaml** but node runs this exception with the **npm start**:

---------------------------------------------
Microsoft Windows [Versione 6.1.7601]
Copyright (c) 2009 Microsoft Corporation. Tutti

[2016-09-21 18:35] jroweboy commented on #116
I ran into this same issue. This can be fixed by installing a particular version of webpack as explained in this angular issue https://github.com/angular/angular-cli/issues/2234#issuecomment-248174857

[2016-09-21 18:51] jroweboy opened #117 "redoc.module.ngfactory is not found"
I followed the instructions in the README, but it doesn't mention anything about calling `npm run ngc` in the instructions, so when I run the server, I get the error `Cannot find module './redoc.module.ngfactory'.` I'm not sure if this file is supposed to be autogenerated or not, but I found that running `npm run ngc` generated the `redoc.module.ngfactory.ts` file that was missing. I can submit a

[2016-09-21 20:06] jroweboy opened #118 "Expected 'styles' to be an array of strings."
I've been following the latest README to try to make a local change to ReDoc, but I've been running into several issues along the way. If it helps to know, I'm developing on Windows, (but I don't think thats the issue). When I run `npm start` the server boots as expected, but when the page starts loading, it ends up failing to render with this as the error http://i.imgur.com/JCpO1xF.png The full s

[2016-09-22 07:08] amanganiello90 commented on #116
thanks all, I will fix this problem in this repo.

[2016-09-22 07:24] amanganiello90 commented on #116
I haven't permissions to push the fix. So I have forked the project and push the commit on my repo.
If you want this update, you can grant me as contributor member for your project.
Thanks

[2016-09-22 08:32] amanganiello90 opened #119 "The development server doesn't render on Windows"
The #116 fix issue has resolved the run of the server **(npm start)**. It runs on windows and linux even if the console shows the following error:

-----------------------------
_[default] C:\Users\amanganiello\Desktop\ReDoc-master\lib\bootstrap.ts:2:38
    Cannot find module './redoc.module.ngfactory'.
[default] Checking finished with 1 errors_

-----------------------------

However on Linux mac

[2016-09-22 18:34] jroweboy commented on #116
@amanganiello90 you can open a pull request to this repository with your fixes and the owner can review the changes and merge them if they meet the owner's expectations. (Usually projects don't just give out write permission for small changes like this. Pull requests are the standard way to submit code)

[2016-09-22 18:37] jroweboy commented on #119
I had the same error and opened a ticket yesterday as well. https://github.com/Rebilly/ReDoc/issues/118 Looks like you showed that its not just me with this problem on windows 👍 Also, ubuntu bash subsystem for windows doesn't work either so I can't just use that instead.

[2016-09-23 06:47] amanganiello90 commented on #119
Ok Thanks

[2016-09-23 06:52] amanganiello90 commented on #116
I know that I can open a pull request to merge my fix branch with the master, but I hadn't also permission to push a my branch. For this I have forked the repo so that I was able to open a pull request.
Thanks all.

[2016-09-23 06:52] #116 closed

[2016-09-27 07:39] jenniferwang2000 opened #121 "Can we add link to section heading in description from field description?"

[2016-09-27 16:15] krsyoung commented on #113
@natke curious if I'm getting the same thing you were.  What I was trying to do was run redoc with a local index.html and swagger file (i.e. just open them from the filesystem vs serving via HTTP).  Is this what you were originally doing when you received the error?

In my case I get a full error as:
[code]

The HTML had:
[code]

[2016-09-27 17:25] natke commented on #113
Yep, that's exactly what I saw

[2016-09-27 19:30] RomanGotsiy commented on #121
@jenniferwang2000 can you clarify what you mean? I'm not sure if understood you correctly.

[2016-09-27 21:31] #119 closed

[2016-09-27 21:33] RomanGotsiy commented on #118
Fixed via 79693e1b276225be256b5e5ea0db849f31c7b3a6

[2016-09-27 21:33] #118 closed

[2016-09-27 21:36] RomanGotsiy commented on #117
@jroweboy, you were right, `./redoc.module.ngfactory` is autogenerated and is needed only for production build.
`npm run ngc` is run for production build [here](https://github.com/Rebilly/ReDoc/blob/master/package.json#L20)

The issues was caused by webpack config not respecting windows/*nix path separators difference

fixed via 79693e1b276225be256b5e5ea0db849f31c7b3a6

[2016-09-27 21:36] #117 closed

[2016-09-27 21:36] RomanGotsiy commented on #118
@jroweboy thanks by reporting

[2016-09-28 06:27] RomanGotsiy commented on #96
I just tested on your files and can confirm this is a bug.
Will look into this.

[2016-09-28 06:55] #83 closed

[2016-09-28 08:43] RomanGotsiy commented on #111
Fixed in the latest minor release: v1.3.3

[2016-09-28 08:43] #111 closed

[2016-09-28 13:51] nchudleigh commented on #96
Great, I ended up just pre-rendering using json-refs
https://www.npmjs.com/package/json-refs

Cheers

[2016-09-28 13:52] nchudleigh commented on #96
Great thanks 👍

[2016-09-29 17:14] cevatkerim commented on #35
I generate different swagger file per environment and have a dropdown in redoc header for choosing which swagger file to point at. It works well. Just wanted to share how I am doing it today.

[2016-10-03 14:29] bfirsh commented on #62
Have you made progress on this at all?

[This is a big blocker to use using ReDoc for the Docker API documentation.](https://github.com/bfirsh/docker-api-reference/issues/3) I've had a play around with Universal, but it looks like the app is a long way off working with it.

Do you think it might be possible/easier to use something like [prerender](https://prerender.io/) in the interim?

[2016-10-03 16:15] bfirsh commented on #62
I've given it a shot with Prerender, and it actually sort of works. The page renders okay, but nothing is functional. Eventually the client-side ReDoc kicks in and things become functional.

The main problems are:

 - The site is non-functional until ReDoc loads (a good few seconds for a large Swagger definition)
 - The page jumps up to the top once ReDoc has loaded.

This doesn't really help with

[2016-10-04 17:51] adamaltman commented on #62
Hi @bfirsh , this is an interesting problem that affects us too.  @RomanGotsiy is away on vacation right now.  He'll be back towards the end of next week.

[2016-10-04 17:53] adamaltman commented on #112
https://rebilly.github.io/ReDoc/  <-- look at the top of that page.

![image](https://cloud.githubusercontent.com/assets/1161871/19085884/96e0d956-8a31-11e6-9497-e5f783183c85.png)

Is that what you're looking for?

[2016-10-05 16:19] IvanGoncharov commented on #112
@sinha-bharat you can also specify URL to Swagger spec as query parameter see example:

<img width="747" alt="screen shot 2016-10-04 at 21 44 42" src="https://cloud.githubusercontent.com/assets/8336157/19121789/6a747990-8b30-11e6-81fe-e9f851b90935.png">

[2016-10-08 03:31] jenniferwang2000 commented on #121
Sorry for the confusion.
In swagger editor, we can add multiple sections in the object "description" part. For example, if one section is called "Notes" in the object "description" part. And in field description in "definitions", i want to reference the "Notes" section above. I mean how to make such link? Do we support this?

[2016-10-11 13:40] bfirsh commented on #62
@RomanGotsiy Any thoughts on how this could be done? I'm eager to help implement this, but I don't want to waste my time if existing thought has been up into it.

[2016-10-11 16:44] sontono opened #122 "GFM syntax: nested lists"
GFM syntax lets to create nested lists by  indenting lines by two spaces, but they seems not to be correctly displayed in ReDoc, for example:
[code]

[2016-10-12 07:47] nakedible-p commented on #42
I know this is marked as post v1.0, but I'd like to mention that we use "pattern" a lot in our API definitions - almost every field is solely determined by pattern - because it is a very simple way to document what kind of values are accepted. Showing that somehow in the rendered documentation would be important for us.

[2016-10-12 07:49] nakedible-p opened #123 "Minimum of zero is not rendered properly"
Currently it seems that specifying `minimum: 0` is not visible in any way in the generated documentation, and also specifying `minimum: 0` and `maximum: 999` shows `<= 999` in the generated documentation which is obviously untrue as negative values are not accepted.

I am assuming this is probably caused by the same things that caused `false` defaults not to be displayed.

[2016-10-12 10:08] RomanGotsiy commented on #42
@nakedible-p, `pattern` should be easy to add. I will try to have it done for the next minor release

[2016-10-12 10:09] RomanGotsiy commented on #123
@nakedible-p, thanks for reporting.
Will be fixed in the next minor release

[2016-10-12 10:32] RomanGotsiy commented on #62
Hey @bfirsh,
I played with Universal a long time ago. At that time Angular was still in beta and Universal project was just started so there were lots of issues with this. I decided to postpone it till the official Angular 2.0 release.
I'm just back from vacation and  I will take a look at the situation with Universal today/tomorrow.

AFAIK Universal prerendering will use the existing DOM so the p

[2016-10-12 20:47] alex-sherwin opened #124 "Support static HTML/JS/CSS generation from spec via npm tooling"
It would be great to be able to take any Open API spec and generate a set of static HTML/CSS/JS output (same as what is dynamically rendered by ReDoc currently)

I don't really understand the current trend of ONLY supporting dynamically rendered documentation tools... It would be really nice to be able to automate static HTML/CSS/JS docs at build time so they could be bundled up and deployed to a

[2016-10-13 16:22] darrenhaken opened #125 "Can't open my swagger.json"
I tried using the following template to open a Swagger doc:

[code]

If I open the Petstore sample it works but my JSON file eventually times out and fails. There are no error messages to help me debug exactly why it's not working. Any clues?

[2016-10-13 16:31] darrenhaken commented on #125
I suspect the issue is that I'm trying to add a spec using HTTPS but the fetch command isn't using the protocol.

The Swagger JSON I'm trying to query isn't available on HTTP.

[2016-10-13 19:51] IvanGoncharov commented on #125
@darrenhaken Can you please copy browser console or make a screenshot?
I suspect that you have a problem with CORS since you file served under `companydomain.com`.
To confirm this you can use, this service: https://crossorigin.me/

[2016-10-14 01:25] darrenhaken commented on #125
@IvanGoncharov So I prepended the https://crossorigin.me/ and the resource was retrieved in the network tab so it does appear likely its a CORS issue.

However after doing that I get the following error:

![image](https://cloud.githubusercontent.com/assets/953467/19372613/6f3a3328-9172-11e6-872a-9363c9ea6e23.png)

[2016-10-14 08:07] RomanGotsiy commented on #125
@darrenhaken seems like you don't have `version` field which in your `info` object which is required according to [the spec](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#info-object).

[2016-10-14 08:42] RomanGotsiy opened #126 "Publish angular2 module to npm"

[2016-10-14 08:48] RomanGotsiy commented on #124
related to #62

[2016-10-14 09:20] #123 closed

[2016-10-14 19:09] darrenhaken commented on #125
@RomanGotsiy that seemed to be the issue and it's resolved now thanks!

One last thing about the ReDoc UI; is there a way of adding auth headers when testing out the service?

[2016-10-15 18:00] RomanGotsiy commented on #125
@darrenhaken if you need to document authentication headers you should probably use [securityDefinitions](http://swagger.io/specification/#securityDefinitionsObject).
They are still not rendered by ReDoc but this will be implemented soon. Check out issue: https://github.com/Rebilly/ReDoc/issues/7

I'm closing this issue

[2016-10-15 18:00] #125 closed

[2016-10-15 18:25] RomanGotsiy commented on #122
@sontono this is not valid json because of newlines in string literal (it is still for some reason parsed by the browser BUT trailing spaces are removed from each line).

To solve your issue remove newlines from json:

[code]

or use YAML:

[code]

[2016-10-15 18:25] #122 closed

[2016-10-17 06:31] sontono commented on #122
@RomanGotsiy, you are right. Thank you very much!

[2016-10-18 11:15] bfirsh commented on #62
@RomanGotsiy Have you had a chance to look at this? Any thoughts?

[2016-10-18 13:13] juleux opened #127 "npm install errors on Windows"
NPM install errors using Windows 10.  Updated node to latest version.  In GitBash, running npm install redoc --save.
NPM debug log attached.

![gitbash redoc install](https://cloud.githubusercontent.com/assets/18660620/19478939/6c9564be-9512-11e6-9c5c-b5cfb1fac3e6.PNG)

I understand different versions of npm handle peer dependencies differently.  Wonder if that is perhaps contributing to this issu

[2016-10-20 08:45] RomanGotsiy commented on #62
@bfirsh, I had a quick look but unfortunately still haven't had time to dive into this.
This is on my priority to-do list. I will post my thoughts once I get to this.

[2016-10-23 17:38] RomanGotsiy commented on #127
@juleux I have fixed the issue
Once I publish new npm release you should be able to install it without issues.

I will let you know here.

BTW: updating to npm3 will resolve the issue too.

[2016-10-25 10:24] jenniferwang2000 opened #128 "discriminator usage"
I have successfully added discriminator for the "success" field in a rest api call response. It's wonderful. When the "success" field is "true", a bunch of fields are listed. When the "success" field is "false", the "reasons" field is listed.
Now I want to add discriminator for other call responses within the same yaml file. For "false" i listed as below, which works well since the fields within "

[2016-10-25 14:17] IvanGoncharov commented on #128
@jenniferwang2000 Bad news you can't implement this behavior in pure Swagger/OpenAPI.

Good news we have a workaround in ReDoc, it vendor extension named `x-extendedDiscriminator`.
It's a hybrid of `discriminator` and `oneOf` keyword from JSON Schema.
Here is Gist with simple example: https://gist.github.com/IvanGoncharov/a62b1dc9324b99a689c31c8411844d09
And [link](http://rebilly.github.io/ReDoc/?

[2016-10-25 21:56] juleux commented on #127
Thank you for letting me know.  I will hold off on updating npm so I can test your fix when ready.  I am currently using CDN to complete my project – and it is working very well.

Regards, Julie

From: Roman Hotsiy [mailto:notifications@github.com]
Sent: Sunday, October 23, 2016 1:38 PM
To: Rebilly/ReDoc
Cc: Julie Cunningham; Mention
Subject: Re: [Rebilly/ReDoc] npm install errors on Windows (#127

[2016-10-26 05:50] jenniferwang2000 commented on #128
That's really great! I got it working. Thank you so much!

[2016-10-26 05:50] #128 closed

[2016-10-27 18:41] bfirsh opened #129 "Development environment doesn't build"
This is the output, after running `npm install; npm run build:sass`:

[code]

[2016-10-28 22:18] TracyZuora commented on #88
Just an fyi... we are releasing our new docs next week and we are having this issue as well.

[2016-10-28 22:43] TracyZuora opened #130 "Navigate between code examples - the menu and middle panes scroll to random content"
We have code samples in 6 languages, when you navigate between the examples the menu and middle panes scroll to random  content. There seems to be an issue with ReDoc displaying the code samples. When you click on the different language tabs, the screen sometimes jumps around - potentially even to a completely different part of the API Reference. This makes for a pretty bad user experience.

We we

[2016-10-29 20:02] Zero-Prime commented on #129
+1

[2016-10-31 08:16] #129 closed

[2016-10-31 18:18] RomanGotsiy commented on #130
@TracyZuora thanks for reporting.
I can confirm the issue. Will let you know once I manage to fix it

[2016-10-31 18:21] RomanGotsiy commented on #121
@jenniferwang2000 sorry for late response.

Unfortunately this is not supported yet. Currently it is possible only to link tags operations or top-level headings from spec `description` field.
It is planned to add support of linking to all parts of doc but not sure when I get to this

[2016-10-31 18:22] RomanGotsiy commented on #112
@sinha-bharat is it issue still relevant?

[2016-10-31 18:23] RomanGotsiy commented on #103
@ChrisPearce Adding this to my to-do for the next release

[2016-10-31 18:24] RomanGotsiy commented on #69
minItems left

[2016-11-01 08:14] RomanGotsiy commented on #7
securityDefinitions are now rendered in the docs
+ placement of security definitions can be configured. Check out details [in the docs](https://github.com/Rebilly/ReDoc/blob/master/docs/security-definitions-injection.md#injection-security-definitions) or check example in the [demo spec](https://github.com/Rebilly/ReDoc/blob/master/demo/swagger.yaml#L36)

[2016-11-01 14:58] RomanGotsiy commented on #42
@nakedible-p finally get to this.
What do you think of the following representation?
![image](https://cloud.githubusercontent.com/assets/3975738/19894078/4d096e90-a054-11e6-833d-af1dcc5dff9d.png)

Maybe you have better idea?

[2016-11-01 15:05] nakedible-p commented on #42
I think it is perfect. Slashes are the universal regexp indicator.

[2016-11-01 15:09] RomanGotsiy commented on #42
Great, hopefully will publish new minor release with this today. Max - tomorrow.

[2016-11-01 21:33] RomanGotsiy commented on #127
@juleux should work fine now.
Confirm it works for you plz

[2016-11-02 08:41] RomanGotsiy commented on #127
Closing this for now.
Feel free to reopen if it doesn't work

[2016-11-02 08:41] #127 closed

[2016-11-02 08:43] RomanGotsiy commented on #121
closing this issue
will be tracked in #63

[2016-11-02 08:43] #121 closed

[2016-11-02 08:43] RomanGotsiy commented on #112
Closing, feel free to reopen

[2016-11-02 08:43] #112 closed

[2016-11-02 11:22] RomanGotsiy commented on #130
This issue is fixed in the latest `v1.5.1` release

[2016-11-02 11:22] #130 closed

[2016-11-02 11:24] RomanGotsiy commented on #42
@nakedible-p New version is released.

[2016-11-02 11:39] #104 closed

[2016-11-02 13:14] juleux commented on #127
It’s working for me now.  Thanks for your hard work.

From: Roman Hotsiy [mailto:notifications@github.com]
Sent: Tuesday, November 01, 2016 5:34 PM
To: Rebilly/ReDoc
Cc: Julie Cunningham; Mention
Subject: Re: [Rebilly/ReDoc] npm install errors on Windows (#127)

@juleux <https://github.com/juleux>  should work fine now.
Confirm it works for you plz

—
You are receiving this because you were mentio

[2016-11-02 21:35] TracyZuora opened #133 "Slow load time on any browser - large-ish yaml"
Hello Redoc Community,

Our yaml file with code samples is about 2.2 MB and is slow to load. We are looking for alternative approaches that would allow us to remove most of this download/process time to improve the user experience. Does anyone have some advice for optimizing the load time?

www.zuora.com/developer (select API Reference)

[2016-11-03 12:37] RomanGotsiy commented on #133
Hello @TracyZuora.

First of all. I love how you styled ReDoc ❤️
I recommend you updating to the latest version of ReDoc to have this issue resolved: https://github.com/Rebilly/ReDoc/issues/130
Unfortunately I have made some changes in css in the latest version so probably you will have to do some minor extra work after update.

Now regarding slow load time:
we have experiencing the same issue (on

[2016-11-03 18:34] PedroMD opened #134 "Render model definitions? (feature support)"
Hello all,

Thanks for this amazing project! ;) It is now our default view engine of our Swagger spec.

As you can see in swagger-ui repo, there is [a popular issue](https://github.com/swagger-api/swagger-ui/issues/1052#issuecomment-258185202) where people are asking for Models rendering, just like swagger-editor does. This would be great if it could be added to ReDoc! ;)

Thanks!

[2016-11-03 20:31] RomanGotsiy opened #135 "Menu items without tag collapse under authorization"
noticed here: https://furkot.github.io/trips-api/

[2016-11-03 21:47] TracyZuora commented on #133
Roman,

Do you think if we have multiple files instead of one file that the performance would be better? I will try this tonight. We are having the API Reference failing on load most of the time :-(

[2016-11-03 22:55] zachwaggoner commented on #133
If you do separate the files would they have to load on multiple pages? Sort of a pagination if you will?

[2016-11-04 16:16] joostfarla opened #136 "allOf not working properly within array items"
This works correctly:

[code]

This initially loads fine, but gives an error (Can't load schema at ..) when trying to expand the `data` element in the response schema:

[code]

The schema example on the right side seems to render correctly.

[2016-11-04 22:19] TracyZuora commented on #133
Roman, We love ReDoc but the performance issues are causing us to rethink the ReDoc approach. I want to stick with ReDoc but we are already looking to change. Is there anything that we could help with in diagnosing/fixing this issue?

[2016-11-04 22:24] RomanGotsiy commented on #136
@joostfarla, Thanks for reporting. I was able to reproduce the issue.
The fix shouldn't take so much time so most likely it will be included in the next minor release.

[2016-11-04 22:39] RomanGotsiy commented on #133
I understand your issue as we are also suffering from this :(
As as workaround you can try to split your spec into smaller separate peaces (as a separate OpenAPI specs) and host a few ReDoc instances for each (if you need help with hosting multiple ReDoc instances, let me know)

We are working on resolving this issue, but it is quite complicated. I plan to fix this issue during next 2-3 weeks but

[2016-11-05 08:44] joostfarla commented on #136
@RomanGotsiy Awesome! 👍

[2016-11-05 14:08] #136 closed

[2016-11-05 14:09] RomanGotsiy commented on #136
Fixed, will be ready for use in the next minor release which will be released at the beginning of the next week

[2016-11-06 19:50] nakedible-p commented on #99
As an appendix to this issue, one more use case.

I have an array of items as such:
[code]
The example shows only:
[code]
...regardless of what is chosen in the message as the discriminator dropdown.

[2016-11-07 13:37] joostfarla commented on #136
Thanks for the fix! I've now actually found more scenarios where this causes failure.

For example the following HAL response:

[code]

**Collection.yaml**

[code]

**Dataset.yaml**

[code]

Can you take a look at this?

[2016-11-08 06:46] camillu commented on #96
I'm getting a similar issue when using $ref for external .json files. I will be sending you an email with a minimal sample that reproduces the issue. It is not exactly the same for us, as for example, a different spec which is structurally similar (references multiple .json files) is not affected by this bug. Thanks.

[2016-11-08 07:15] RomanGotsiy opened #137 "Incorrect string sample with `maxLength`"
![image](https://cloud.githubusercontent.com/assets/3975738/20090114/d06b569c-a593-11e6-8273-60a11ee1b041.png)

[code]

[2016-11-08 08:03] #137 closed

[2016-11-08 09:03] #96 closed

[2016-11-08 09:04] RomanGotsiy commented on #96
@camillu thanks for sending minimal sample.
I was able to reproduce the issue. Also I have managed to fix it.

Fix will be shipped in the next release. I will let you know.

[2016-11-08 09:06] camillu commented on #96
Thank you so much!

[2016-11-08 21:11] andrewjtech123 opened #138 "linking to"
Hi ! Love ReDoc - thanks so much!

Not sure if this is the correct place to post.

I'm having trouble using GFM link syntax to link to the heading tag anchors from redoc.  They work the first time clicked but then after the url bar stays sticky to the tag anchor and the link isn't followed the second time you try to click on it.  Perhaps I am just implementing links to redoc header tags the wrong

[2016-11-08 21:52] RomanGotsiy commented on #138
Unfortunately, this is how url hash works in browsers. If it is not updated during following link - no event is fired :(

I will check if I can do something with this. Will keep this issue open until I manage to investigate this.

------------
btw, If you change [this heading](https://github.com/andrewjtech123/rebilly-validschema/blob/master/spec/swagger.yaml#L6) to the first-level `# Draft Orders

[2016-11-08 22:51] andrewjtech123 commented on #138
Thanks so much for your response and tip about # Draft Orders API :)

[2016-11-08 22:55] andrewjtech123 commented on #138
I noticed with readme.io that as you scroll the page the url bar updates automatically as you pass the different headings.  Maybe this approach would be helpful ?

http://docs.nurego.com/v1.0.1/reference#api-introduction

[2016-11-09 22:44] pupi1985 commented on #113
This actually looks like a bug. Faced the same issue here doing the same thing.

[code]
Same file is properly validated on the online editor. It is also properly displayed from a local web server, which has been my workaround so far.

[2016-11-12 10:04] RomanGotsiy commented on #113
@pupi1985 yes, I had a look at this and this is actually the issue.
The reason is that https://github.com/BigstickCarpet/json-schema-ref-parser doesn't support `file://` protocol.

I will fix this but this is not on the next-to-do queue coz this can be workarounded by simply running webserver

[2016-11-16 11:11] RomanGotsiy commented on #62
@bfirsh finally I've managed to get to this.
First, Angular Universal and server-side rendering seems to be not ready now + it requires a lot of refactoring. So I don't think I will proceed with this.
Actually ReDoc doesn't need server-side rendering, it needs prerendering which may be done just using any headless browser. I have checked Universal code and it seems to be possible to just attach cl

[2016-11-16 11:13] bfirsh commented on #62
Nice. That sounds great. :+1:

[2016-11-18 20:57] andrewjtech123 opened #139 "our server does not load spec file"
Hello!

I am trying to view our redoc spec with the index.html hosted on our site but it is not rendering.  seems like it can't pull in the swagger.yml file.  any ideas?

<!DOCTYPE html>
<html>
  <head>
    <title>Draft Orders API Specification</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
      body {
        margin: 0;
        padding: 0;
      }

[2016-11-18 20:58] andrewjtech123 commented on #139
[code]

[2016-11-18 20:58] RomanGotsiy commented on #139
@andrewjtech123  What is printed to browser console?

[2016-11-21 17:13] andrewjtech123 commented on #139
Hi.  I think we fixed the issue.  Our local jekyll server runs without https.  When I run it locally I have to append https to the url, in order to view the Redoc output correctly.

One other related question - is it possible to tun off the swagger warnings from outputting to redoc?

[2016-11-21 17:31] RomanGotsiy commented on #139
Yes - use `suppress-warnings`: [docs](https://github.com/Rebilly/ReDoc#redoc-tag-attributes)

Example:

`<redoc spec-url="..." suppress-warnings></redoc>`

[2016-11-21 18:24] andrewjtech123 opened #140 "help ! pushing to master no longer rebuilds site"
Hi I think there is an issue with how my site is building.  Normally when I push to master it rebuilds the site but this is no longer happening.

![gh pages settings](https://cloud.githubusercontent.com/assets/6719991/20495086/ac1bf242-afed-11e6-8137-eca215d0af1b.png)

If I set the above to master then I get a 404 here

https://andrewjtech123.github.io/rebilly-validschema/

[2016-11-21 18:33] RomanGotsiy commented on #140
I've just checked the link and it works for me.
Anyways, it is not related to ReDoc.

[2016-11-21 18:33] #140 closed

[2016-11-21 18:36] RomanGotsiy commented on #139
@andrewjtech123 can this issue be closed?

[2016-11-21 18:37] RomanGotsiy commented on #138
@andrewjtech123, yes. Thanks for advice. This would be useful feature

[2016-11-21 22:50] RomanGotsiy commented on #139
@andrewjtech123 closing this issue for now but feel free to reopen in case it is not solved

[2016-11-21 22:50] #139 closed

[2016-11-22 12:08] andrewjtech123 commented on #140
sorry for posting this here.  It probably would have made more sense to post in generator-openapi-repo
https://github.com/Rebilly/generator-openapi-repo

[2016-11-22 12:47] andrewjtech123 opened #141 "Feature request: Use tags or vendor extension to mark operations with labels as per swagger editor/UI"
Hi,

We have a need to label our operations with tags to call out certain information.  See image.

Perhaps you can use a vendor extension for this ?  Given the description of `x-traitTag` I was hoping it would work for this

"In Swagger two operations can have multiply tags. This property distinguish between tags that are used to group operations (default) from tags that are used to mark operatio

[2016-11-22 12:58] andrewjtech123 opened #142 "read only fields appear in JSON request samples for POST request"
Hi,

For our POST request that creates an object we are passing the object as part of the Body of the request.  The fields for the request body correctly appear in list of body parameters.  However, JSON request example includes read only fields which should not be sent as part of POST request.

![read only fields show up](https://cloud.githubusercontent.com/assets/6719991/20524644/62eb918a-b089-1

[2016-11-22 13:19] jeff-matthews opened #143 "API resource content not rendering on local dev server"
Mac OS X v10.11.6
Chrome v54
node v6.9.1
npm v3.10.8
petstore swagger.yaml (from the ReDoc repo)

After cloning the repo and installing dependencies, I ran `npm start` and got this error:

[code]

After deleting that object per [this](https://github.com/webpack/webpack-dev-server/issues/701), I get new errors when I run `npm start`:

[code]

So, I go into webpack.dev.js and append "-loader":

[cod

[2016-11-22 14:28] andrewjtech123 commented on #140
but just fyi - I am noticing that pushing to master branch is not triggering a new travis build.  I can manually restart build in travis and it will work

[2016-11-22 19:51] RomanGotsiy commented on #140
give me a link to your repo

[2016-11-22 23:27] RomanGotsiy commented on #142
Which version of ReDoc you use? This issue should to be fixed since version `v1.5.1`

[2016-11-22 23:33] RomanGotsiy commented on #143
@jeff-matthews does it print anything to browser console?

[2016-11-22 23:42] RomanGotsiy commented on #141
@andrewjtech123 ,
`x-traitTag` should actually work for this but the label is very unnoticeable. It is displayed under method name:
![image](https://cloud.githubusercontent.com/assets/3975738/20546447/c96e0200-b11d-11e6-87c8-5926de82a335.png)

Do you have ideas where to move this? Or just make it of some other more contrast color?

[2016-11-23 01:47] jeff-matthews commented on #143
@RomanGotsiy Sorry, I'm away from my main development machine, but I was able to reproduce on another system:

ubuntu v16.04
node v7.20
npm v3.5.2
chrome v54

Same result in browser. I've attached console output.
[localhost-1479865220583.txt](https://github.com/Rebilly/ReDoc/files/607973/localhost-1479865220583.txt)

[2016-11-23 06:35] SebastianStehle commented on #7
There are also security information per operation, e.g. you can specify the roles or claims. Would be awesome to support this:

     "security": [
          {
            "roles": []
          }
        ]

[2016-11-23 07:07] RomanGotsiy commented on #143
@jeff-matthews Thank you. I will fix this asap

[2016-11-23 07:38] SebastianStehle opened #144 "Feature Request: Theming"
First a big thank you: You solved all my problems I had with Swagger: Swagger UI. Your project is really awesome and I enjoyed to read the source code of such a high quality with a very good code coverage. It just works for me.

I just have one small feature request: I would like to setup some theming properties in the redoc element: The logo and the accent colors would be fine. I can easily fix t

[2016-11-23 08:55] RomanGotsiy commented on #144
@SebastianStehle thanks for the request.
It will definitely be implemented soon

[2016-11-23 14:34] andrewjtech123 commented on #141
for now we used an image embedded in markdown.  You can see it on the calls
marked "To be implemented".  We modeled our design off the way labels look
in the swagger editor output on right panel.

https://andrewjtech123.github.io/rebilly-validschema/

On Tue, Nov 22, 2016 at 6:42 PM, Roman Hotsiy <notifications@github.com>
wrote:

[2016-11-24 12:07] SebastianStehle commented on #53
Do you have a timeline for this feature? If you are done with it, SwaggerUI should be replaced by Redoc as the official solution ;)

[2016-11-24 16:20] RomanGotsiy commented on #53
@SebastianStehle can't promise anything. It is on our list but before we have a few other things to implement. I will update the roadmap shortly.

Hopefully, we will get this ready in 3-4 month

[2016-11-24 21:09] RomanGotsiy commented on #142
@andrewjtech123

[2016-11-24 21:12] RomanGotsiy commented on #62
@bfirsh I have released to CDN beta version of ReDoc with the mentioned above performance optimisations

Could you test it and provide your feedback?
Use the following link to `redoc.min.js`: http://rebilly.github.io/ReDoc/releases/v1.6.0-beta.perf/redoc.min.js

This version is only on CDN, it is not available via npm

[2016-11-24 21:13] RomanGotsiy commented on #133
@TracyZuora I have released to CDN beta version of ReDoc with performance optimisations

Could you test it and provide your feedback?
Use the following link for referencing `redoc.min.js`: http://rebilly.github.io/ReDoc/releases/v1.6.0-beta.perf/redoc.min.js

This version is only on CDN, it is not available via npm

[2016-11-24 21:48] andrewjtech123 commented on #142
I am using https://github.com/Rebilly/generator-openapi-repo for my project here

https://github.com/andrewjtech123/rebilly-validschema

How can i check my version ? Is there a procedure documented somewhere for upgrades?

[2016-11-24 21:56] andrewjtech123 commented on #142
my script is pointing to latest so it should be working ?

    <script src="//rebilly.github.io/ReDoc/releases/latest/redoc.min.js"> </script>

[2016-11-24 21:58] andrewjtech123 commented on #141
I noticed that it says in your docs that x-traitTag is deprecated ? Does that mean you are removing support for the vendor extension?  We need it for pushing documentation into left navigation such as response codes.

https://github.com/Rebilly/ReDoc/blob/master/docs/redoc-vendor-extensions.md#x-traitTag

[2016-11-24 22:07] andrewjtech123 commented on #140
its working fine now.  Seems like I had to re-install npm at some point

[2016-11-24 22:10] RomanGotsiy commented on #142
@andrewjtech123, I've just checked your docs and can confirm the issue.
Will look into this tomorrow

[2016-11-24 22:22] andrewjtech123 opened #145 "filter version number"
Can we filter version number from title?  I tried to remove from spec but it is required field.

![version number](https://cloud.githubusercontent.com/assets/6719991/20610653/8e1a63a8-b26a-11e6-939b-4e5f891d34a8.png)

[2016-11-25 07:25] RomanGotsiy commented on #145
I will wrap it in a special selector in the next version so you can remove this with css

[2016-11-25 08:15] SebastianStehle commented on #61
I am not a fan of it. I think this is a technical detail that should stay on the right side.

[2016-11-25 09:38] DaftTrick opened #146 "Response get find by id became array"
First expand response "200" https://rebilly.github.io/ReDoc/#operation/findPetsByStatus where it must be array.
After expand list https://rebilly.github.io/ReDoc/#operation/getPetById. Response became array to.
![image](https://cloud.githubusercontent.com/assets/6764185/20619959/331544a2-b308-11e6-9e31-a6c4292de4f1.png)

[2016-11-25 10:11] bfirsh commented on #62
Nice - works a treat. :)

https://bfirsh.github.io/docker-api-reference/

[2016-11-25 11:51] joostfarla commented on #136
@RomanGotsiy did you already had the chance to look at this issue? I don't mean to rush, but I'm presenting stuff next week, and it would be awesome if I have a fully working doc page.  👍

[2016-11-25 13:05] RomanGotsiy commented on #136
@joostfarla yes, sorry for delay. I've been working on other things. Will publish new release on weekends

[2016-11-25 13:08] RomanGotsiy commented on #62
I'm Happy you liked 😀. So you will proceed with it? Right?

I will keep this as beta a few more days and then will release new version.

[2016-11-25 13:09] RomanGotsiy commented on #146
@DaftTrick, thanks for finding! Will look into this ASAP

[2016-11-25 16:31] andrewjtech123 commented on #142
thank you ! Also root of the object is not displayed.  If user were to copy/paste this into body of a api client request it would fail without the root object of the JSON.

[2016-11-26 21:23] TracyZuora commented on #133
Thank you so much for expediting this fix. We will be testing the CDN fix this weekend and will post results. The Zuora Beijing team will jump on the testing first and I will follow suit in the US.

We love ReDoc!

[2016-11-28 12:44] bfirsh commented on #62
We will indeed proceed! Thanks so much for this. :)

[2016-11-28 13:33] RomanGotsiy opened #147 "No support for collectionFormat"

[2016-11-28 14:21] #145 closed

[2016-11-28 14:23] RomanGotsiy commented on #147
fixed by #d8f08be

[2016-11-28 14:23] #147 closed

[2016-11-28 14:24] RomanGotsiy commented on #145
Will release a new version in a couple hours in which you will be able to hide version number via css

[2016-11-28 19:00] RomanGotsiy commented on #145
@andrewjtech123 Latest version `1.5.2` has been released.

To filter version, just add the following rules to the site style.

[code]

You can add this after [this line](https://github.com/andrewjtech123/rebilly-validschema/blob/master/web/index.html#L16)

[2016-11-28 19:01] RomanGotsiy commented on #136
@joostfarla new version `v1.5.2` has been just released.
Let me know if it the issue is solved for you know

[2016-11-28 19:02] RomanGotsiy commented on #146
Should be fixed with the latest  `v1.5.2` release.

[2016-11-28 19:02] #146 closed

[2016-11-29 03:12] jenniferwang2000 commented on #133
Thank you @RomanGotsiy!

From Beijing side, we updated the local redoc.min.js with the fix. The average loading time of our yaml file with code samples in a totally new incognito Chrome browser is about 13 seconds without lazy rendering, and 8 seconds with lazy rendering. After cached, the loading time is really fast around 2-3 seconds to load. Overall it is much faster than before.

[2016-11-29 06:24] joostfarla commented on #136
Works like a charm! Thanks!! 👍

[2016-11-29 06:34] ukko opened #148 "Changelog is not updated"
Changelog is not updated with the new versions

PS Huge thanks for your work! :)

[2016-11-29 07:01] #148 closed

[2016-11-29 07:02] RomanGotsiy commented on #148
@ukko thanks for kicking me 😄  👍

[2016-11-29 07:22] RomanGotsiy commented on #143
@jeff-matthews I've just updated webpack configs and stick angular version to 2.1 minor until I update to the latest.

Pull the latest changes and reinstall node_modules (`rm -rf node_modules && npm install`) and try again.
It should work now.

[2016-11-29 14:26] jeff-matthews commented on #143
@RomanGotsiy Yep! It works now. I'm looking forward to using ReDoc. Thanks for all your hard work on this project.

[2016-11-29 14:29] #143 closed

[2016-11-29 19:54] #142 closed

[2016-11-29 19:58] RomanGotsiy commented on #142
Fixed now. Will be available with the next release.

[2016-11-30 18:33] yspotts opened #149 "Can't fetch local file"
My apologies if this is spelled out somewhere -- I looked through the issues.

I can't seem to direct ReDoc to load my OpenAPI spec from the local filesystem -- only via http. I have tried the following:
[code]
in addition to other permutations. However, they all result in this error:

`Unable to resolve $ref pointer "file:///<pathname to my spec file>"`

Is there any way to have ReDoc load the sp

[2016-11-30 18:40] RomanGotsiy commented on #113
Will track this issue here: https://github.com/Rebilly/ReDoc/issues/149

Closing this as obsolete.

[2016-11-30 18:40] #113 closed

[2016-11-30 18:41] RomanGotsiy commented on #149
The reason is that the lib I use ([json-schema-ref-parser](https://github.com/)) doesn't support `file:///` protocol.

I will fix this but this is not on the next-to-do queue coz this can be workarounded by simply running webserver

[2016-11-30 18:42] yspotts commented on #149
@RomanGotsiy thanks for the quick reply! got it

[2016-11-30 20:46] RomanGotsiy commented on #62
Just released a new version `v1.6.0`. It has lazy rendering feature.
To enable it use [`lazy-rendering`](https://github.com/Rebilly/ReDoc#redoc-tag-attributes) ReDoc option:

`<redoc spec-url="..." lazy-rendering></redoc>`

[2016-11-30 20:46] RomanGotsiy commented on #133
@TracyZuora @jenniferwang2000
Just released a new version `v1.6.0`. It has lazy rendering feature.
To enable it use [`lazy-rendering`](https://github.com/Rebilly/ReDoc#redoc-tag-attributes) ReDoc option:

`<redoc spec-url="..." lazy-rendering></redoc>`

Can I close this issue now?

[2016-12-01 05:33] RomanGotsiy commented on #142
New version `1.6.0` has been released

[2016-12-01 23:00] TracyZuora commented on #133
Thank you Roman - please close the lazy rendering is working great! We will be uploading to our production environment this week.

[2016-12-02 05:29] #133 closed

[2016-12-02 10:01] RomanGotsiy opened #150 "[critical] LazyJsonSchema doesn't insert cached schemas"
no request schema for http://rebilly.github.io/ReDoc/#operation/updateUser

[2016-12-02 10:11] #150 closed

[2016-12-02 10:16] lucychild opened #151 "Request sample outputs differently according to paths in swagger.json"
I have a Jersey API running on a Grizzly server and have recently starting using swagger to annotate it and ReDoc to output the swagger. Most of the endpoint requests and responses are output as expected with readonly fields in the response but not the request, except for one PUT operation in a certain class called Partner, which outputs all fields (readonly as well as not) in the request, same as

[2016-12-02 10:41] #151 closed

[2016-12-02 10:42] RomanGotsiy commented on #151
The issue you've reported has been fixed since ReDoc version `v1.6.0`.
I've just checked [your sample on our demo page](http://rebilly.github.io/ReDoc/?url=https://gist.githubusercontent.com/RomanGotsiy/81af3701cd157f861980c4c478df3c9f/raw/fe128bed4e94548d15cd847313ed2fee49a6e98e/lucychild-sample.json) and it works as expected.

Please update to the latest version.

[2016-12-02 10:46] lucychild commented on #151
Thanks - I still had 1.5.2 in my project - will be updating it more regularly now

[2016-12-02 10:47] RomanGotsiy commented on #151
@lucychild I suggest you to wait for the next minor release which will be released in an hour.
The current has some critical issues :(

[2016-12-02 10:48] lucychild commented on #151
Will do - thanks!

[2016-12-02 11:16] RomanGotsiy commented on #151
`v1.6.1` is available now

[2016-12-03 09:15] RomanGotsiy commented on #96
FYI: new release has been shipped (actually some time ago but I have remembered only now)

[2016-12-03 09:17] camillu commented on #96
Thanks! We are making use of 1.6.1 already and it's working great.

[2016-12-06 12:58] jwilander opened #153 "Bad character encoding on error responses"
Not sure if this is specifically a Redoc issue but posting here just in case.

The dropdown or little chevron symbol for error response codes seems to be encoding incorrectly on my instance.

<img width="678" alt="screen shot 2016-12-06 at 7 50 27 am" src="https://cloud.githubusercontent.com/assets/2672098/20926253/58120a68-bb89-11e6-834c-fddb413fa8b9.png">

You can see it live [here](https://api.

[2016-12-06 15:42] IvanGoncharov commented on #153
@jwilander Demo with your spec looks fine: http://rebilly.github.io/ReDoc/?url=https://api.mattermost.com/static/mattermost-openapi.yaml

![image](https://cloud.githubusercontent.com/assets/8336157/20930296/9f5bbb3e-bbd5-11e6-87fa-69652f74149d.png)

Can you please update to the v1.6.1 (latest), because currently, you are using v1.5.2
If it doesn't help please check that your server use UTF-8, we h

[2016-12-06 15:44] jwilander commented on #153
Thanks @IvanGoncharov, I'll try that

[2016-12-06 23:35] jwilander commented on #153
Changing `Content-Type` from `text/html` to `text/html; charset=utf-8` fixed the issue. Thanks for your help!

[2016-12-06 23:35] #153 closed

[2016-12-07 09:32] jenniferwang2000 opened #154 "How to set discriminator attribute for a header parameter?"
There is a `version` parameter in header. I want to set discriminator for this field. For example, when this field is set `v1`, request body schema of v1 is shown. when this field is set to `v2`, request body schema of v2 is shown.
I tried `discriminator`, swagger error prompted immediately.
I tried `x-extendedDiscriminator` as shown below, no swagger error, but the drop-down list is not shown in

[2016-12-07 13:05] IvanGoncharov commented on #154
@jenniferwang2000 Problem is that parameters described in a smaller subset of JSON Schema then request/reply schemas. You can see all supported properties here:
https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#user-content-parameterType.

This mean it's illegal to specify `discriminator` in parameters and subsequently we don't support `x-extendedDiscriminator` in such cases

[2016-12-07 13:12] IvanGoncharov commented on #153
@jwilander You're welcome.

[2016-12-07 13:26] IvanGoncharov opened #155 "Add FAQ section"
I created a new tag and mark few issues with it:
https://github.com/Rebilly/ReDoc/issues?utf8=%E2%9C%93&q=is%3Aissue%20label%3A%22Add%20to%20FAQ%22%20
Answers to this questions should be good starting point for FAQ

[2016-12-07 15:46] andrewjtech123 commented on #142
does this also fix the issue with the root of the object not being displayed?

"Also root of the object is not displayed. If user were to copy/paste this into body of a api client request it would fail without the root object of the JSON."

[2016-12-07 15:53] andrewjtech123 opened #156 "JSON request/response examples do not display the root object"
We have an important issue with root object not being displayed in JSON.  The alpha partners of our draft order api endpoint are trying to copy paste json request examples and they are failing.

"root of the object is not displayed. If user were to copy/paste this into body of a api client request it would fail without the root object of the JSON."

[2016-12-07 16:31] andrewjtech123 opened #157 "turn off json request examples, or customize them? URGENT"
Is there a way we can stop the json request examples from outputting.  They are incorrect (do not include root object) so people using our API are using these examples and getting 404s.

[2016-12-07 17:16] Jean-Daniel opened #158 "Response description is not rendered as Markdown."
While using swagger-ui, responses description are properly rendered when they contains Markdown tags.

Using ReDoc, responses description are dumped as raw text and not properly formatted.

[2016-12-07 17:20] RomanGotsiy commented on #156
@andrewjtech123 can you add more details? e.g. what is expected and what you get.
Thanks

[2016-12-07 17:22] RomanGotsiy commented on #157
If you don't use code samples in your documentation you can hide them with css.
In the other case, there is no way to turn off samples at the moment.

[2016-12-07 17:26] andrewjtech123 commented on #156
Please see 201 created response for Create Draft Order

https://andrewjtech123.github.io/rebilly-validschema/

As you can see it starts out with the root object.

![draft order root](https://cloud.githubusercontent.com/assets/6719991/20978809/44c99d96-bc78-11e6-85d8-e18cddcf99ff.png)

maybe we can use a field like response examples to override the json request example with our own JSON ?

[2016-12-07 17:27] andrewjtech123 commented on #157
we are using curl and ruby examples so this wont work for us.

[2016-12-07 17:27] RomanGotsiy commented on #158
Fixed, will be available in the next release

[2016-12-07 17:30] RomanGotsiy commented on #157
you can add `example` to the request body param json-schema.
It will be used by ReDoc

[2016-12-07 17:30] RomanGotsiy commented on #157
Let me know if you need assistance

[2016-12-07 17:39] andrewjtech123 commented on #157
could you provide an example of where i need to put this?

[code]

[2016-12-07 17:39] RomanGotsiy commented on #156
I've just checked your spec and the docs. ReDoc displays request samples exactly according to the schema. You don't have root object in your schema. That's why it is not displayed in the sample.

It is displayed as you need it in response because you use response samples.

You can workaround request in redoc the same way by using `example` value on `schema` object.
BUT I suggest you to fix your sp

[2016-12-07 17:42] RomanGotsiy commented on #157
[code]

[2016-12-07 17:43] RomanGotsiy commented on #142
no

[2016-12-07 17:45] RomanGotsiy commented on #156
I will close this issue.
Feel free to reopen/ask questions here.

[2016-12-07 17:45] #156 closed

[2016-12-07 18:03] andrewjtech123 commented on #157
it works ! thank you.

[2016-12-07 18:03] #157 closed

[2016-12-08 03:13] jenniferwang2000 commented on #154
@IvanGoncharov Thanks for your quick response.

In our case, when specifying `v2` for `version`, the request body schema contains additional fields than `v1`, and the response schema structure changed (wrapper is added to group fields).

[2016-12-08 12:34] IvanGoncharov commented on #154
@jenniferwang2000 It'is impossible to do in Swagger 2.0 😞
If this versioning applies to all methods you can split v1 and v2 into separate Swagger files.

[2016-12-08 12:34] #154 closed

[2016-12-08 22:09] it-subscriptions opened #160 "Graphical glitch in response sample panel"
As seen in the image there is an offset glitch on the right panel, this is present between every endpoint. On version 1.6.1

![redoc display glitch_](https://cloud.githubusercontent.com/assets/20000827/21029680/e59a83ac-bd68-11e6-967b-4a095442362d.jpg)

[2016-12-08 23:03] curtisdurrett opened #161 "maxItems on Arrays"
The maxItems property isn't displayed anywhere in the UI.  It would be nice to display the min and max occurrences for arrays.

[2016-12-09 02:13] jenniferwang2000 commented on #154
Got it, Thank you very much @IvanGoncharov !

[2016-12-09 08:01] RomanGotsiy commented on #161
@curtisdurrett thank you for reporting.
This issue is tracked here: https://github.com/Rebilly/ReDoc/issues/42
Closing this as a duplicate.

[2016-12-09 08:01] #161 closed

[2016-12-09 08:02] RomanGotsiy commented on #160
@it-subscriptions thanks you. Will look into this ASAP

[2016-12-09 08:04] RomanGotsiy commented on #160
@it-subscriptions unfortunately I can't see this on the [demo page](http://rebilly.github.io/ReDoc/)

can you specify more details? Browser version, OS, do you see it on demo too or only on your own setup? If only on yours then provide plz a link.

thank you

[2016-12-09 14:29] it-subscriptions commented on #160
I'm on Window 10 x64 Build 14393 on Chrome Version 55.0.2883.75 m.

The demo looks fine on my end, so it seems to really be something with my swagger.
I've attached swagger json as I don't have it hosted anywhere public yet.  My html only has this in the body with no other css.

[code]

Looking at the css, if I remove the background attribute, it seems to fix it.

[code]

Thanks for looking into i

[2016-12-09 15:06] RomanGotsiy commented on #160
add please the following CSS to your html:

[code]

There is the minimal setup required to not have this glitch issue.
I suggest to use minimal setup `HTML` from README: https://github.com/Rebilly/ReDoc#tldr

[2016-12-09 15:49] #160 closed

[2016-12-11 21:01] RomanGotsiy commented on #158
@Jean-Daniel new version `1.6.2` with the fix has been just released

[2016-12-12 13:30] RomanGotsiy opened #162 "ReDoc sometimes crashes while lazy-loading if hit CTRL+F"

[2016-12-12 13:40] RomanGotsiy commented on #162
Blocked by https://github.com/angular/angular/issues/13293

[2016-12-12 17:34] Jean-Daniel commented on #158
Nope. Didn't fix the issue.
Isn't there an extra pipe in the fix commit ( '|| marked' instead of '| marked') ?

[2016-12-12 17:36] RomanGotsiy commented on #158
@Jean-Daniel yes, you're right.
My fault. Will fix for the next release.

[2016-12-12 22:38] arodoni opened #163 "Multiple instances of ReDoc on one server"
We are considering a deploying a private API reference for Beta customers and keep that API separate from our public REST API.

Is it possible to run 2 or more instances of ReDoc on one server?

Thanks!

[2016-12-13 05:49] RomanGotsiy commented on #162
Workarounded by removing side-menu animation

[2016-12-13 06:10] #158 closed

[2016-12-13 06:14] RomanGotsiy commented on #163
@arodoni yes this is possible.
First of all ReDoc is pure client-side application so it is not run on the server.

The simplest and recommended solution is just to setup 2 different pages each with ReDoc instance pointing to another swagger spec.

Alternatively, ReDoc supports dynamic spec urls as on our [demo page](http://rebilly.github.io/ReDoc/) so you can end up using only one page.

Let me kn

[2016-12-13 18:46] arodoni commented on #163
Thank you for the quick response! I got it to work with 2 HTML and 2 swagger specs.

[2016-12-13 18:46] #163 closed

[2016-12-14 08:33] PJolz opened #164 "ReDoc crashes when linking to a tag that contains spaces"
If you get the link to a tag that contains a space, the link looks like this:
[...]/#tag/Accounting%20Codes

Following the link causes the page to crash with the error:
![2016-12-14_16-25-58](https://cloud.githubusercontent.com/assets/9894341/21174811/4aa76638-c21a-11e6-80a4-006d09ccd588.png)

When linking to a section that contains a space, the space is replaced by a hyphen, so the issue doesn't

[2016-12-14 08:55] agallou opened #165 "Start with response list expanded"
First, thanks for Redoc, your project is very usefull to us.

When I give our client the link to our API doc, I always say something like "You must click on '200 Products Response' to display the response content". So it could be usefull to have those expanded by default.

I'm not used to developp with angular, but if it's a feature that you are ready to have on the projet, i'll try to make a PR.

[2016-12-14 10:50] RomanGotsiy commented on #164
@PJolz which version of ReDoc you use?
In the latest version `v1.6.2`, spaces in link to tags are replaced with hyphen too.

Let me know if upgrading to the latest version resolves the issue for you.
I will close the issue but feel free to reopen in case it doesn't work

[2016-12-14 10:50] #164 closed

[2016-12-14 12:52] RomanGotsiy commented on #165
@agallou thanks for using ReDoc and even reading its code :)

I should explain why I have hidden all the responses under the zippy. This was done due to performance limitations. For specs with huge number of endpoints response schemas generation took lot of time so I hidden it under the zippy and made lazy-rendered.

I'm OK with adding such option to ReDoc though. I vote for having ReDoc attribute

[2016-12-14 12:52] #165 closed

[2016-12-15 08:48] agallou commented on #165
:+1:  that's awesome. thanks for the feature.

[2016-12-16 08:41] dvh opened #166 "ReDoc doesn't work on Edge"
When I try to open a redoc page (e.g. http://rebilly.github.io/ReDoc/) in Microsoft Edge , it won't render: `Object doesn't support property or method 'ToString'`. The version I've tested it on is:

[code]

[2016-12-18 20:56] rbywater opened #167 "What's the "proper" way to re-initialise redoc element?"
I've been working on a spec viewer which uses ReDoc to render the spec documentation. Basically the page has a list of files and as you select a file from the list, the page dynamically updates to have the documentation of that page without having to refresh the page.

I've found that once you have done a `Redoc.init()`, further attempts fail. So what I've been doing in the meantime is, when I wan

[2016-12-19 09:38] RomanGotsiy commented on #167
@rbywater actually this is a bug. I will fix it for the next release.
It is planned for today

[2016-12-19 15:14] #167 closed

[2016-12-19 15:15] RomanGotsiy commented on #167
I will release a new package with the issue fixed in 4-5hours
I will let you know

[2016-12-19 20:06] BafFlynN opened #168 "Redoc never compiles locally"
I have tried everything, switching node versions altering code. I can not get this to compile locally at all. I always get failed dependencies and if I edit either dist/redoc.js or dist/redoc.min.js the entire thing breaks. (All I am doing is removing the download button and trying to add some more functionality that is needed for my company internally. (I have tried every major version of node an

[2016-12-19 20:14] jeff-matthews opened #169 "Unmet peer dependencies"
The following **unmet peer dependencies** seem to be causing `npm start` errors after cloning the repo and running `npm install`:

- npm WARN string-replace-webpack-plugin@0.0.4 requires a peer of webpack@^1.4.2 but none was installed.
- npm WARN codelyzer@2.0.0-beta.3 requires a peer of tslint@~4.0.0 but none was installed.
- npm WARN karma-coverage@0.2.6 requires a peer of istanbul@~0.3.0 but no

[2016-12-19 20:16] RomanGotsiy commented on #168
@BafFlynN can you specify more details? Which error do you get? What is printed to console?

What OS you work on?

[2016-12-19 20:23] RomanGotsiy commented on #169
Seems to be an issue with `awesome-typescript-loader`: https://github.com/s-panferov/awesome-typescript-loader/issues/190

Will try to update deps and stick them to working versions

[2016-12-19 20:44] RomanGotsiy commented on #36
accidentally closed by wrong commit-message

[2016-12-19 20:45] RomanGotsiy commented on #169
@jeff-matthews try now and let me know if it works for you.

Before try, remove and install all node_modules

[2016-12-19 20:45] RomanGotsiy commented on #168
@BafFlynN check https://github.com/Rebilly/ReDoc/issues/168. Maybe you had the same issue

[2016-12-19 20:48] BafFlynN commented on #168
I was just gonna say, you fixed it :)

[2016-12-19 20:48] #168 closed

[2016-12-19 20:51] RomanGotsiy commented on #169
seems it was the same as #168. The author of #168 confirms the issue has been fixed.

Closing this issue so far. Feel free to reopen if the issue is not resolved for you

[2016-12-19 21:51] jeff-matthews commented on #169
thanks @RomanGotsiy. I'm able to run `npm start` without errors and render swagger.yaml locally.

Interestingly, I'm still getting warnings about unmet peer dependencies on `npm install`, which may be a problem for continuous integration (CI) unless I can modify my CI build script to ignore the warnings.

[2016-12-19 22:32] RomanGotsiy commented on #169
These warnings are not critical. I will fix them in the future

[2016-12-19 22:32] #169 closed

[2016-12-19 22:34] #166 closed

[2016-12-19 22:35] RomanGotsiy commented on #166
was caused by https://github.com/jhiesey/stream-http/issues/48
I've updated stream-http to the latest version.

The issue is fixed. It will be available in the upcoming release

[2016-12-19 22:38] RomanGotsiy commented on #167
@rbywater new version `1.6.3` is available

[2016-12-19 22:38] RomanGotsiy commented on #165
new version `1.6.3` with the feature is available

[2016-12-19 22:46] rbywater commented on #167
:+1: Just tried it and no more console errors being thrown as far as I can tell.

Thanks for the prompt response!

[2016-12-20 07:17] dvh commented on #166
:+1:

[2016-12-21 21:14] it-subscriptions opened #171 "Any plans for support xml samples for request/response ?"
If an operation has consumes and/or produces value of application/xml it would be nice to have the samples show accordingly.

For request I can make a code sample, but ideally it would be auto generated like the JSON.

As for responses I can't really think of any workaround.

[2016-12-21 23:23] RomanGotsiy commented on #171
@it-subscriptions there are no plans to bring auto-generated XML examples in the near future (if nobody would contribute)

But OpenAPI(Swagger) has an [`Example Object`](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#example-object) using which you can provide response samples for different mime-types.
Right now only `application/json` is displayed in ReDoc but I can impl

[2016-12-21 23:36] #162 closed

[2016-12-21 23:50] it-subscriptions commented on #171
That would be great. Code samples for request is fine with me, so adding support for `application/xml` mime type in responses would work well as a quick solution.

Thanks!

[2016-12-27 05:29] vishesh1king commented on #149
@RomanGotsiy  Can you tell me how it can be worked around ? Sorry for asking this but i am new to this !!

@yspotts  How else did you mention your json file ?

[2016-12-27 06:46] RomanGotsiy commented on #149
@vishesh1king just serve your spec and html page via any http-server (e.g. `python -m SimpleHTTPServer`) so url to it will be: `http://127.0.0.1:<someport>/swagger.json` not `file:///<path>/swagger.json`

[2016-12-27 06:52] vishesh1king commented on #149
Got it thanks ...
But do you have any format on the json sytax ??
I am uable to load my custom json file ... Its says
" Oops... ReDoc failed to render this spec this._schema.info is undefined "

[2016-12-27 07:00] RomanGotsiy commented on #149
@vishesh1king your json file is not in [OpenAPI (fka Swagger)](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md) format. ReDoc is **OpenAPI/Swagger-generated** API Reference Documentation. It works only with OpenAPI specs

[2016-12-27 07:31] vishesh1king commented on #149
Ohh, I get it now !!! Thanks ...
I saw the file u mentioned in the example but its in single line ... Could not understand
Do you have any json file that is cleanly indented and works ? I am having trouble at this ? Link to any json file on net that works ?
Thanks again!!

[2016-12-27 08:23] RomanGotsiy commented on #149
[ReDoc demo spec](https://github.com/Rebilly/ReDoc/blob/master/demo/swagger.yaml) in `yaml` format

If you are not familiar with OpenAPI you can start from [template spec](https://github.com/APIs-guru/openapi-template/blob/gh-pages/swagger.yaml) ([direct link](https://apis.guru/openapi-template/swagger.yaml)). You should also check series of tutorials by API Handyman: http://apihandyman.io/writing

[2016-12-27 21:33] conzett opened #172 "Display produces/consumes"
It looks like there are no immediate plans to automatically generate different media type representations, but would it would be nice to at least display the available values of produces and consumes if they are set.

[2016-12-29 03:22] jaingaurav opened #173 "Anchors for sub-sections"
Hi, it seems that ReDoc only supports section anchors for first level headings. Is there any possibility to support anchors for sub-sections as well?

[2016-12-29 03:26] jaingaurav opened #174 "Separator/heading between info documentation and endpoint documentation."
Hi, is there any chance that a separator or heading could be created in the side-menu when starting the endpoint documentation? Something like "Appendix"? This will help show when the info documentation sections have ended and the endpoint documentation sections have started.

[2016-12-29 08:27] RomanGotsiy commented on #174
Hello @jaingaurav,
I'm currently working on menu-grouping mechanism using which you'll be able to do so.
I will let you know when it is ready

[2016-12-29 08:29] RomanGotsiy commented on #173
@jaingaurav thanks for reporting. The same issue is tracked in #60. I will close this.

[2016-12-29 08:29] #173 closed

[2016-12-29 16:37] jaingaurav commented on #174
Thanks a lot. That'd be great!

[2016-12-29 16:38] jaingaurav commented on #60
@RomanGotsiy: Are you working on sub-section support? If not maybe I can provide a patch? Not sure if it'll interfere with your section grouping work.

[2016-12-29 17:12] RomanGotsiy commented on #60
@jaingaurav I am not working on sub-section support right now but I have significantly refactored menu-generation code. So if you'd to provide a patch do it on top of a branch [`menu-refactor`](https://github.com/Rebilly/ReDoc/tree/menu-refactor).

Unfortunately, source code is almost not documented so let me know if you need any help.

[2016-12-29 19:10] jaingaurav commented on #60
@RomanGotsiy: Thanks the new code looks a lot cleaner. I'll give it a shot. Hopefully will have a PR up soon.

[2016-12-29 21:38] jaingaurav commented on #60
@RomanGotsiy PR #175 adds support for second level headings. Please note that I know very little about TypeScript, so hopefully some parts of it are somewhat sane.

[2016-12-30 05:52] Joe-noh opened #176 "got error "trackBy must be a function, but received undefined" on SideMenu"
Hi, big thank you for great product.

Following this procedure gave me an js error "trackBy must be a function, but received undefined" .

1. fork and clone this repository.
2. then run `npm install`, `npm start`.
3. open `localhost:9000`

This error occurs on `SideMenu` component due to ngForTrackBy only accepts function but [`summary`; one of `method`'s properties is given](https://github.com/Re

[2016-12-30 07:44] RomanGotsiy commented on #176
@Joe-noh thanks for reporting. Frankly speaking I'm shocked how it used to work all the time.. According to git history this line was added on Jul 21 O_O....

Thank you for trying to fix that. Your fix is absolutely correct 👍
But I've been working on menu refactoring last few days on branch `menu-refactor` and as a result of refactor this line with `trackBy` is no longer there. I'm going to merge

[2017-01-03 17:43] theindexer opened #177 "Responses List bugs for duplicate schemas with different codes"
If you reference the same schema but have different status codes (we have a 200 and a 201 that share a response body), weird things happen.  Clicking on the zippy for whichever status code wasn't last in the spec causes it to change to the other code, then expand on the next click.

Problem code appears to be https://github.com/Rebilly/ReDoc/blob/master/lib/components/ResponsesList/responses-list.

[2017-01-04 12:49] #177 closed

[2017-01-04 12:52] RomanGotsiy commented on #177
@theindexer thanks! simple clone was good solution.
I've already fixed it and added a testcase.
New version release is planned for tomorrow.

[2017-01-06 12:11] RomanGotsiy commented on #176
merged

[2017-01-06 12:11] #176 closed

[2017-01-06 12:15] RomanGotsiy commented on #172
@conzett there is an idea to show only produces/consumes different from `application/json`. What do you think? Would it work for you?

[2017-01-06 12:30] RomanGotsiy commented on #174
@jaingaurav To achieve what you need you can use [`x-tagGroups`](https://github.com/Rebilly/ReDoc/blob/master/docs/redoc-vendor-extensions.md#x-taggroups) root vendor extension which is supported by the latest (`1.7.0`) version of ReDoc.
You can create one group with name `Appendix` and add all tags to this group.

Let me know if this works for you.

[2017-01-06 12:31] RomanGotsiy commented on #177
New version `1.7.0` has been released

[2017-01-06 12:32] RomanGotsiy commented on #60
@jaingaurav thanks! I've merged your PR and released a new version with subheadings support.

Closing this issue 🎉

[2017-01-06 12:32] #60 closed

[2017-01-06 12:32] RomanGotsiy commented on #135
Fixed by menu refactor 🎉

[2017-01-06 12:32] #135 closed

[2017-01-06 15:52] omaralqady opened #178 "Strange request to `example.com` causing CSP error (v1.6 and up)"
This doesn't occur in v1.5.x, and occurs in v.1.6.x and v.1.7.x.

When using `ReDoc` with content security policy enabled, and the connect sources set to accept certain sources, an error occurs because of a request by `ReDoc` to `example.com`

Error:

This doesn't seem to be something that is required for the functionality of `ReDoc`, but the prevention of loading this by CSP triggers an exception

[2017-01-06 16:11] theindexer commented on #177
Sweet, thanks!

[2017-01-06 16:25] jaingaurav commented on #60
Thanks @RomanGotsiy

[2017-01-06 20:43] RomanGotsiy commented on #178
This is an issue of `stream-http`. I've opened corresponding issue there: https://github.com/jhiesey/stream-http/issues/64

[2017-01-06 23:41] conzett commented on #172
@RomanGotsiy I'm looking to show produces/consumes for custom media types and XML so that would work fine for my use case. Is there an issue for that feature request that I can follow? Thanks!

[2017-01-08 00:53] jaingaurav commented on #174
@RomanGotsiy: That definitely works, thanks for the work.

[2017-01-08 00:53] #174 closed

[2017-01-09 22:03] jsmartfo opened #179 "Issue with v1.6.4 vs v1.7.0"
I am seeing a error kicked into the console that breaks the page, it was working fine with `v1.6.4` when I migrate to `v1.7.0` I see the below:

`
ReDoc initialized!
redoc.min.js:15 EXCEPTION: Uncaught (in promise): TypeError: Cannot read property 'split' of null
TypeError: Cannot read property 'split' of null
    at t.exports (https://rebilly.github.io/ReDoc/releases/latest/redoc.min.js:25:29784)

[2017-01-09 22:06] RomanGotsiy commented on #179
Hey @jsmartfo. Could you provide me with a link to your spec?

[2017-01-09 22:07] jsmartfo commented on #179
The spec is an internal one that I cannot publish yet, I am more that happy to debug -- let me try and setup and work out what is happening

[2017-01-09 22:12] RomanGotsiy commented on #179
ok, if you can't find the exact issue it would be great if you come up with a minimal reproducible spec.

Most likely the issue is connected to the second-level (`##`) markdown headers in the `description` field of swagger

[2017-01-09 22:52] jsmartfo commented on #179
Yep will do, either way will get it across.

May run into next week as I have some commitments this week/end.

[2017-01-09 23:25] jsmartfo commented on #179
You're correct, it's an error when second level heading is in desc but you don't have a first level heading.

It appears `slugify` is throwing the error because it cannot accept `null` for `this.currentHeading`

[code]

`
let contentSlug = slugify(this.currentHeading) + `/` + slugify(content);
`

The line above is the culprit `null`, if we look at the if check for `hLevel === 1`

https://github.co

[2017-01-10 08:30] RomanGotsiy commented on #179
I believe safe guard would be better.
Also I think we should append such headers (second level without corresponding first level) to `this.firstLevelHeadings` instead of `this.secondLevelHeadings` so they will behave as first-level. I believe it does make sense.

If you think so you can proceed with PR. This part of code is not covered by tests so do not worry about it. I will add tests myself asa

[2017-01-10 09:08] jenniferwang2000 opened #180 "Do we have a way to remove the "Download " button on the top? Thanks~"

[2017-01-10 09:14] RomanGotsiy commented on #180
@jenniferwang2000 there are no option for this.
Right now you can workaround it by adding the following `css`:

[code]

[2017-01-10 09:14] #180 closed

[2017-01-10 12:06] runes83 commented on #103
Is this feature far away? We need this to send the users to the SDK download page

[2017-01-10 12:33] RomanGotsiy commented on #103
oops, missed that...
Hopefully will be ready in the next release planned for the beginning of the next week

[2017-01-10 14:51] runes83 commented on #103
Thanks

[2017-01-10 18:24] jsmartfo commented on #179
Just wondering what would be the issue leaving their choice of header and not altering it under the covers?

Something like below, we still push into the heading arrays as needed, but the `h1` and `h2` content/structure is the same - but I maybe missing the reason for the difference added within the two `if` checks (if it was for uniqueness I can append the heading level also)

[code]

[2017-01-11 06:28] runes83 opened #181 "Add menu items"
Add the possibility to add menu items that points to external sites from swagger extensions or in javascript to the redoc object.

Should support nested menus.

[2017-01-11 08:16] RomanGotsiy commented on #179
@jsmartfo `h2` content should contain parent heading reference so it can be placed in correct place in menu. Check out: https://github.com/Rebilly/ReDoc/blob/master/lib/services/menu.service.ts#L252

[2017-01-11 17:47] jsmartfo commented on #179
I will get something across to you as soon as I can, have a couple of hoops to jump through at work first.

[2017-01-12 10:30] erlend-sh commented on #51
+1 to this from us at Discourse as well. We're building a new API docs site with ReDoc. Here's the WIP:

http://blakeerickson.com/discourse_api_docs/

Thanks for a great product!

[2017-01-12 11:52] RomanGotsiy commented on #51
@erlend-sh I have great news: this feature is coming soon. I've already started working on it.

[2017-01-13 23:50] arodoni opened #182 "ReDoc freezes"
In the following pages, when you scroll down to the bottom where the footer is, the page freezes. You can also make it freezes by clicking the "end" key.

https://www.zuora.com/developer/order-api/
https://www.zuora.com/developer/api-reference/

Has anyone encounter this issue and can offer a workaround?

Thank you, in advance!

[2017-01-14 09:06] RomanGotsiy commented on #182
@arodoni you're using `1.6.0-beta.perf` version.
I expect this issues to be fixed on the latest version due to recent side-menu refactor done.
Try please if this issue is reproducible on the latest version.

[2017-01-14 16:48] arodoni commented on #182
Thank you for your reply!
Is 1.7.0 the version we should try? Your github readme says not to use in
production. Is it stable enough to use in our live doc site?

[image: Inline image 1]

On Sat, Jan 14, 2017 at 1:06 AM, Roman Hotsiy <notifications@github.com>
wrote:

[2017-01-14 22:23] RomanGotsiy commented on #182
@arodoni you've misunderstood readme message. It says not to use `latest` release from CDN ( `https://rebilly.github.io/ReDoc/releases/latest/redoc.min.js`) because it is updated automatically which each release and may include breaking changes.
It is absolutely OK to use concrete version `1.7.0` as it won't be changed so you can be sure your docs won't be broken until you manually update the vers

[2017-01-15 01:05] arodoni commented on #182
One more question. Does 1.7.0 include the lazy rendering and other
performance enhancements that you made?

Thank you very much for your assistance!

alex

On Sat, Jan 14, 2017 at 2:23 PM, Roman Hotsiy <notifications@github.com>
wrote:

[2017-01-15 07:40] RomanGotsiy commented on #182
yes, `1.7.0` includes all performance enhancements.

[2017-01-17 05:36] jenniferwang2000 commented on #180
@RomanGotsiy Thanks for your reply. Can we move the Download button to somewhere else in the page, like the Introduction section?

[2017-01-17 06:48] RomanGotsiy commented on #180
@jenniferwang2000 you can hide it and just add markdown link to your introduction section.
TO have this as a button you can host button image on your site and create markdown image link, e.g.
`[![Foo](https://www.google.com/images/logo.png)](http://link.to/your/swagger.json)`

[2017-01-18 01:39] jenniferwang2000 commented on #180
Great! Thank you very much!

[2017-01-19 19:57] ezcoding4all opened #183 "Boolean type default value shows as true even when set default=false"
For type boolean, default value is not shows instead values always showed as true in REQUEST/RESPONSE Example section

[code]

[2017-01-22 16:31] runes83 commented on #103
Is this released in a new version?

[2017-01-22 17:03] RomanGotsiy commented on #103
New version has been delayed... I will let you know once it's ready

[2017-01-24 16:55] RomanGotsiy commented on #183
@ezcoding4all which version of ReDoc you use?
This issues is fixed in the latest ReDoc version.

Check out on our demo page: http://rebilly.github.io/ReDoc/#operation/placeOrder

[2017-01-24 17:12] hlubovac opened #185 "LOW: CSS: request body model-tree wrapping problem"
![image](https://cloud.githubusercontent.com/assets/3127736/22258079/6e55c82c-e21d-11e6-8f92-6af4594854fa.png)

This fixed the problem for me:
[code]
![image](https://cloud.githubusercontent.com/assets/3127736/22258068/6034a6fa-e21d-11e6-9220-d680f0286e9b.png)

[2017-01-25 10:31] RomanGotsiy commented on #185
@hlubovac thanks for reporting.
Will fix in the next release

[2017-01-25 14:03] manuc66 opened #186 "Support for x-example vendor extension"
Hi,

I think it would be nice to support the `x-example` vendor extension [from Apiary](https://help.apiary.io/api_101/swagger-extensions/#x-example)

Thanks

[2017-01-25 21:59] ezcoding4all commented on #183
@RomanGotsiy,

I am using 1.2.0

[2017-01-25 23:59] #183 closed

[2017-01-28 14:46] RomanGotsiy commented on #182
@arodoni does using latest fixed issue for you?

[2017-01-28 15:46] arodoni commented on #182
Yes, it did.

Thank you!

On Sat, Jan 28, 2017 at 6:46 AM, Roman Hotsiy <notifications@github.com>
wrote:

[2017-01-28 15:51] #182 closed

[2017-01-30 19:59] katschre opened #187 "Loading multiple swagger files with ReDoc"
Hello! I am looking for a solution or example for rendering multiple swagger spec files. Is there an existing/preferred solution for loading multiple swagger files, rather loading all APIs into a single yaml file (i.e. swagger.yaml in the demo code)?

[2017-01-30 20:10] RomanGotsiy commented on #187
Hey @katschre.

Check my answer to issue https://github.com/Rebilly/ReDoc/issues/163.

Let me know if it works for you or if you need any assistance.

[2017-01-30 20:21] katschre commented on #187
In your demo code, can "swagger.yaml" be dynamically changed to specific specs? If I am following correctly, your swagger.yaml contains each of the apis in the demo. I'm looking to support upwards of 80 apis with ReDoc, so the loading time would suffer if it has to render all within one file. Please let me know if I am understanding your dynamic linking incorrectly!

[2017-01-31 08:52] nemenemsrouge commented on #187
From my point of view, since redoc is juste a simple client side app, you can create a basic HTML homepage with some links to your differents api.

Each API could be a link to a different "redoc" instance.

[2017-01-31 09:03] RomanGotsiy commented on #187
@nemenemsrouge thanks, you're absolutely correct 👍

Probably you've mistaken something, our swagger.yaml contains spec of only ONE API with a lot of operations

@katschre summing up so far you have two options:
- as proposed by @nemenemsrouge you can create a homepage with links to different API and each API page is another ReDoc instance. These pages may be simple as our minimal setup demo: https

[2017-01-31 10:16] RomanGotsiy commented on #187
Here is an example of hosting multiple specs on the same page: https://github.com/Rebilly/ReDoc/blob/master/demo/examples/index.html

[2017-02-01 06:23] seanpk opened #189 ""XHR error" loading spec (really it seems to be failing processing the spec)"
I'm trying out ReDoc with my existing project.
The server will serve the swagger spec it's using at a given location.
I have confirmed it works with very simple specs, but even slightly more complex specs cause this ReDoc to error out after the XHR to get the spec fails:

[code]

Here's the "original stacktrace" per Firefox (I doubt is use ... probably I need to come back to this with with the out

[2017-02-01 10:30] dolmen opened #190 "Response description must be rendered with Markdown"
From the [Swagger 2.0 specification about Response objects](http://swagger.io/specification/#responseObject):

Currently ReDoc renders `description` as text, exposing raw Markdown formatting chars.

[2017-02-01 10:43] dolmen opened #191 "Schema rendering: show required properties first, ordered"
1. In a schema definition the most important properties are the ones specified as `required`. It would be helpful to show them first, and show the optional properties after.

2. The `required` property is an array that gives an order for those required properties. It would be better to use that order to render the properties instead of using only Unicode order on property names. Optional propertie

[2017-02-01 10:56] dolmen opened #192 "Schema: show type string with minLength 1 as "non-empty""
With the following schema definition:
[code]
The current rendering says: « >=1 characters »

It would be better for human consumption to specialize the case where `minLength` is `1` and `maxLength` is not set to show instead « non-empty ».

[2017-02-01 10:59] RomanGotsiy commented on #189
@seanpk what does Network Tab say? Do you see file loaded successfully?
Also check response headers, does your swagger-file have correct mime-type `application/json` set?

[2017-02-01 11:00] RomanGotsiy commented on #189
@seanpk would be great if you can send me your spec so I can check

[2017-02-01 13:12] seanpk commented on #189
@RomanGotsiy - thanks for the prompt response!

The file is loaded successfully from the network (and I can use swagger-ui with it).

Firefox renders the content as JSON on the Network tab.
Here are the response headers:
[code]

And here is the [response](https://gist.github.com/seanpk/0f3deafd7c7f214be7a043a34f9c39e8) (scrubbed a bit, but still breaking).

[2017-02-01 13:35] RomanGotsiy commented on #189
your file seems to work fine on [ReDoc demo page](http://rebilly.github.io/ReDoc/?url=https://gist.githubusercontent.com/seanpk/0f3deafd7c7f214be7a043a34f9c39e8/raw/3620e404008bf4d2fc3c4aefbe5a87069dcc8bae/redoc-breaker.json)

I need more details on your setup.
Do you host html page with redoc on the same server or opening it as file?

[2017-02-01 13:53] seanpk commented on #189
The spec is hosted on the same server ... ah, just added the redoc port to my CORS config.
Well, how's that for a stupid mistake. Thanks for all your help!

With a more complex spec, I am getting another error, and I'll open another issue for it.

----
Everything down here doesn't matter anymore, but I'm going to leave it because time spent ;-)

I'm using this html file to host redoc (it's from th

[2017-02-01 13:53] #189 closed

[2017-02-01 13:56] seanpk opened #193 "Spec rendering failed: TypeError: t is null"
Here is the top of the exception trace:
[code]

Unfortunately I can't share this spec and scrubbing it is an unreasonable effort.
Is there an easy way to grab a non-minified version to get a better stacktrace?

[2017-02-01 14:05] #187 closed

[2017-02-01 14:13] RomanGotsiy commented on #193
Just build and attached unminified version with source map:
[Archive.zip](https://github.com/Rebilly/ReDoc/files/745040/Archive.zip)

[2017-02-01 14:46] jsmartfo commented on #193
Related to #179? I believe the PR should resolve.

H2 before H1 md in the description section of swagger doc

[2017-02-01 16:12] RomanGotsiy commented on #193
@jsmartfo thanks!
@seanpk can you check if you have `H2` before `H1` in the `info.description` of your spec?

[2017-02-01 17:07] seanpk commented on #193
thanks @RomanGotsiy - using that Archive I get this stacktrace:
[code]

[2017-02-01 17:26] RomanGotsiy commented on #193
@seanpk and what is error message?

[2017-02-01 17:42] seanpk commented on #193
displayed error message:

the `info.description` starts with this:
[code]
So, not an `h2` before an `h1` but a `p` and a comment.

... and, what that comment is trying to say is that those heading get used from within property descriptions to link to general concepts.

An example of that is the `AtId` definition:
[code]
where `/docs/api/v2/` is the path that the SwaggerUI rendering of the spec is

[2017-02-01 18:02] andrewjtech123 opened #194 "tags with x-traitTag: true are now greyed out in redoc ouput"
I had to remove some content from my swagger.yaml file and now tags with `x-traitTag: true` are greyed out in redoc left navigation.

https://andrewjtech123.github.io/rebilly-validschema/

[2017-02-01 18:05] andrewjtech123 commented on #194
and if i scroll to bottom of page, the page freezes and redoc display issues start to occur

[2017-02-01 18:23] RomanGotsiy commented on #194
I can't reproduce it on the link you sent

[2017-02-01 18:29] andrewjtech123 commented on #194
try now please

[2017-02-01 18:29] andrewjtech123 commented on #194
also what is meant by x-traitTag is deprecated from the change log

![x-traittag deprecated](https://cloud.githubusercontent.com/assets/6719991/22520500/84796008-e882-11e6-92d3-68a3bff1769d.png)

[2017-02-01 18:37] RomanGotsiy commented on #194
@andrewjtech123 can reproduce the issue now.
A new release is planned for tomorrow or Friday.
Will try to include fix for this issue

[2017-02-01 18:38] RomanGotsiy commented on #194
`x-traitTag` deprecation is now reconsidered. I will remove deprecated warning in the next release

[2017-02-01 18:53] andrewjtech123 commented on #194
Thank you ! For now we are removing all tags with x-traitTag and just using Level 1 headings in Description.  But this is not ideal as we lose the ability to control where in the left navigation we would like to place the tag content.

[2017-02-01 23:32] andrewjtech123 opened #195 "use of discriminator field is broken"
we have been using discriminator field to indicate custom vs. regular object (with different attributes and required fields depending on how discriminator is set (true or false).  This functionality is now broken.

![descriminator](https://cloud.githubusercontent.com/assets/6719991/22531046/b46c86c6-e8ac-11e6-9986-a91872e135ac.png)

not possible to select true or false any longer from the dropdown

[2017-02-02 01:11] RomanGotsiy commented on #195
@andrewjtech123 discriminator is not broken in ReDoc. Your spec is invalid.

You use `discriminator` incorrectly:

If you want to have `true` and `false` in `discriminator` you have to have definitions with the same name. I can't see such definitions in your spec.
Also discriminator field technically must be `string` as it `MUST be the NAME of this schema or any schema that inherits it.`

Having t

[2017-02-02 01:11] #195 closed

[2017-02-02 01:25] RomanGotsiy commented on #193
@seanpk from the stacktrace I can say that issue is really related to #179.
This will be resolved once I merge another branch with fix (planed to happen till the end of this week)

Try remove description field.
If all is good without description, it would be great if you can localise the exact reason so I can make sure the issue is not here in the new version.

[2017-02-02 10:57] kevprice83 opened #196 "Sub category does not appear in Demo spec"
I'm just testing this tool and so far it ticks all the boxes. I noticed that the sub category does not render in the demo [here](https://rebilly.github.io/ReDoc/). The animated GIF shows the ability to open a sub category and enter the necessary parameters. I am testing with the sample petstore spec on my site and the same issue occurs.

Am I missing something very obvious or is there a dependency

[2017-02-02 11:21] RomanGotsiy commented on #196
The gif was taken from modified locally petstore spec. It is not committed to demo.

[2017-02-02 11:28] kevprice83 commented on #196
So what is necessary to create the subcategory fields? SwaggerUI for example interprets on the first operation a body parameter and produces a text area. Is some extra parameter required to do the same for ReDoc?

[2017-02-02 12:36] RomanGotsiy commented on #196
In ReDoc we try to document request and response payloads as much as possible. So when SwaggerUI just renders a text area we render payload recursively with all the metadata.

Payload is generated based on [SchemaObject](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#schema-object) from OpenAPI spec which is limited version of [JsonSchema Draft 4](http://json-schema.org/)

[2017-02-02 14:43] kevprice83 commented on #196
Thanks @RomanGotsiy I have that working now. I guess I misunderstood the tool slightly and I was expecting to be able to make real requests to the API as SwaggerUI does.

My bad!

[2017-02-02 14:47] RomanGotsiy commented on #196
@kevprice83 np.

btw ReDoc will have possibility to make real requests. This feature is called API Console and we will start working on it soon.

you can track it in the issue https://github.com/Rebilly/ReDoc/issues/53 or by subscribing to my twitter @romanhotsiy

[2017-02-02 14:47] #196 closed

[2017-02-02 15:16] seanpk commented on #193
Removing `info.description` gets the spec to render.

There are some interesting warnings that show up there too (I won't paste them here now, but will look into them and see whether they're relevant.

Even just removing the text before the first `h1` seems to do the trick.
As does adding another header at the top. But then the second `h1` is not rendered and shows up as the makrdown `# General No

[2017-02-02 15:17] andrewjtech123 commented on #195
Hi @RomanGotsiy yes I would be very interested in the vendor extension.  I was never happy with the way i "hacked" the spec to do this, so I'm not surprised that it stopped working.

[2017-02-02 19:55] andrewjtech123 commented on #195
hay @RomanGotsiy is there a link or some info you can send me on this ? we have a public beta starting soon and I need to get the fix in

[2017-02-02 20:25] RomanGotsiy commented on #195
Here is example spec using this vendor extension: this: https://apis-guru.slack.com/files/ivan/F2TS1N32P/extendedDiscriminator_yaml.yaml

Would be great If you manage to get guts out of it yourself. I don't have time today to document this detailed.
I'm going to document till the end of the week though

[2017-02-02 20:32] RomanGotsiy commented on #195
@andrewjtech123 updated previous post with a correct link

[2017-02-02 21:14] dolmen commented on #141
In ReDoc the [OpenAPI/Swagger standard `tags`](http://swagger.io/specification/#tagObject) are used for grouping routes in the left panel. This is similar to how tags are used for rendering in swagger-UI, but this is different that in swagger-editor (is that where your screenshot comes from?).

[2017-02-02 21:24] #103 closed

[2017-02-02 21:24] #185 closed

[2017-02-02 22:06] RomanGotsiy commented on #103
@runes83 new version has just been released 🎉

[2017-02-02 22:06] RomanGotsiy commented on #179
Fixed on v1.8.0
Plz confirm and reopen in case it's not fixed

[2017-02-02 22:06] #179 closed

[2017-02-02 22:07] RomanGotsiy commented on #178
@omaralqady should be fixed on the latest 1.8.0 version
Verify please if this is fixed and reopen the issue if it's not

[2017-02-02 22:07] #178 closed

[2017-02-02 22:07] RomanGotsiy commented on #194
fixed with the latest version (v1.8.0):
http://rebilly.github.io/ReDoc/?url=https://andrewjtech123.github.io/rebilly-validschema/swagger.json

[2017-02-02 22:07] #194 closed

[2017-02-02 22:08] RomanGotsiy commented on #193
@seanpk, verify plz on the latest version `v1.8.0`

[2017-02-02 22:11] RomanGotsiy commented on #51
The feature is implemented now 🎉 🚀
@darklynx thanks for patience 😂

[2017-02-02 22:11] #51 closed

[2017-02-03 10:41] dolmen opened #197 "Color of "default" Response"
In operations, the `default` response in a [`Responses` object](http://swagger.io/specification/#responseObject) is often used to specify generic responses such as error cases (because it can be very tedious to document every possible status returned, and a bit of doc is better than nothing). Currently `default` is always rendered in green.

I propose that `default` would be rendered using a color

[2017-02-04 09:45] RomanGotsiy commented on #193
@seanpk closing this for now. Feel free to reopen in case it is still reproducable

[2017-02-04 09:45] #193 closed

[2017-02-06 17:37] seanpk commented on #193
closing the loop: it's fixed

[2017-02-06 21:35] mfleclerc opened #198 "IE11 nested objects arrow alignement Display issue"
As seen in the image below, on IE11(11.576.14393.0 | Update Versions: 11.0.38) on Windows 10 x64 Anniversary update.  The arrow seems to have a large amount of padding on the right of it to collapse.

Also seen in the screenshot, under request body the word `null` shows up. This only seems to happen in IE, I don't have this issue on Chrome,Firefox or Safari.

This is using Redoc 1.8.0

![graphic c

[2017-02-07 09:22] sixers commented on #53
Hey, any update on this?

[2017-02-07 09:25] RomanGotsiy commented on #53
API Console is one of the priorities now. But so far we haven't started working on that :(
This seems to be the next big task on our roadmap.
I will post here once we start work on this.

[2017-02-07 10:00] adamaltman commented on #53
It may be good if the console can also send PATCH requests too.

[2017-02-07 21:24] #198 closed

[2017-02-08 20:16] seanpk commented on #169
@RomanGotsiy - I'd like to see the peer dependency warnings fixed on `npm install` too.
How were you thinking to solve this?

I wish there were peer dependencies for development in the `package.json` spec :-)

[2017-02-08 20:26] RomanGotsiy commented on #169
@seanpk let me know what are the warnings you see and which `npm` version you use.

I have `npm@4.0.5` and just did `rm -rf node_modules && npm install` and can't see any warnings.

[2017-02-08 20:42] seanpk commented on #169
[code]

[2017-02-08 20:58] RomanGotsiy commented on #169
hmm, its strange as these dependencies are listed both in `devDependencies` and `peerDependencies` in `package.json`: https://github.com/Rebilly/ReDoc/blob/master/package.json#L50-L56

I will investigate

[2017-02-08 21:01] seanpk commented on #169
when I install the redoc package into my own project, doesn't `npm` install it in "production" mode?

[2017-02-09 11:18] RomanGotsiy opened #199 "Crash on array without `items`"
{"type":"array"} crashes on `detectType`
Noticed here: http://docs.discourse.org/#tag/Users%2Fpaths%2F~1users~1%7Busername%7D.json%2Fget

[2017-02-09 13:31] #199 closed

[2017-02-09 13:59] RomanGotsiy commented on #195
hey @andrewjtech123, did you manage to hack the spec as you needed using that vendor-extension ?

[2017-02-09 15:32] markingram opened #200 "Unable to build locally"
I'd like to customise the colour scheme of (the rather excellent) ReDoc utility. The only way I can see of doing this is updating the SASS and building locally. However, when I attempt to run `npm run build-dist` from the `ReDoc` directory I hit a wall of errors.

    Starting compilation using the angular compiler.
    Angular compilation done, starting webpack bundling.

    [at-loader] Using ty

[2017-02-09 16:07] RomanGotsiy commented on #200
@markingram pull latest commits and try building now. It should work now.

Regarding of how to customize color scheme:
I do not recommend approach with building your own version of ReDoc as it will require merging all my fixes/improvements if you want to get them. For one-time use it is the easiest approach so far :(

Some of docs that use ReDoc add css styles to the page that overwrite ReDoc ones

[2017-02-09 16:56] markingram commented on #200
Really I just want to change the blue text in the image below to a different shade of blue to tie in with our brand logo. Thanks for the reference examples. They look to be helpful.

![image](https://cloud.githubusercontent.com/assets/1322466/22793617/420c81ca-eee8-11e6-89e7-963cbb76833e.png)

[2017-02-09 18:01] RomanGotsiy commented on #200
@markingram then I suggest you to add css styles overwriting ReDoc ones. The one thing is you have to increase specificity of css selectors. For that you can can use one of attribute set on your `<redoc>` tag, e.g. `spec-url`. E.g. start all you css selectors with:

[code]

Let me know if build works for you so I can close this issue. thanks

[2017-02-09 19:40] andrewjtech123 commented on #195
hi @RomanGotsiy . I was able to play around with discriminator to get it to do something that works for now. latest version in the repo should have it.  Thanks for checking in ! https://andrewjtech123.github.io/rebilly-validschema/

[2017-02-09 19:51] erlend-sh commented on #124
Seems to me like getting the best of both worlds would be quite doable with a "dynamic static site generator" like @KyleAMathews' https://github.com/gatsbyjs/gatsby. Being built on top of an existing project like that would also mean you could focus primarily on solving API documentation problems, and spend less time solving "rendering stuff on a page" problems.

I've not seen many such projects f

[2017-02-09 19:56] KyleAMathews commented on #124
Would be happy to help with this! It'd be a great fit for Gatsby. Gatsby 1.0 will have theme support plus be able to generate sites very easily straight from the specs.

https://github.com/gatsbyjs/gatsby/issues/419

[2017-02-09 22:06] RomanGotsiy commented on #124
Hey @erlend-sh. Thanks for the idea 👍
We will definitely evaluate it.

But this definitely won't happen in the near feature. As we are moving to more interactivity and I'm not sure we can get enough flexibility with gatsby (thanks @KyleAMathews for offering help) or similar tools. E.g. recently we've added search, and are going to implement API Console for ReDoc.

[2017-02-09 22:10] RomanGotsiy commented on #200
Closing this issue.
Feel free to reopen in case build still fails.

But this is issue number 200 so it is doomed to be OK 😂

[2017-02-09 22:10] #200 closed

[2017-02-09 22:13] RomanGotsiy commented on #195
Great. I'm glad you managed to get that working. I've seen you published it as a public beta on Shopify docs 🎉

I will let you know once I'm done with documenting `x-extendedDiscriminator`

[2017-02-09 22:19] KyleAMathews commented on #124
Cool! Best of luck with things.

FWIW, Gatsby would easily be able to do search, an API console, etc. as sites are built using React components so frontend interactive bits are trivial.

[2017-02-10 08:36] markingram commented on #200
No joy, I'm afraid. I did a fresh pull from `master` this morning but the `npm run build-dist` continues to fail but with a slightly different error message: `webpack` rather than `node` seems to be missing.

    Starting compilation using the angular compiler.
    Angular compilation done, starting webpack bundling.

    [at-loader] Using typescript@2.1.5 from typescript and "tsconfig.json" from

[2017-02-10 15:44] dolmen opened #201 "hide-hostname option adds a slash"
When the `hide-hostname` option is used I expect that `http://host/path` is shown as `/path`. But currently the there is an additional `/` in front in a different color: `//path`.

Note : my spec has `host` and `schemes` set, but not `basePath` (because all API path are relative to root). I suspect that an incorrect basePath (`"/"` instead of `""`) is injected.

[2017-02-10 15:56] dolmen commented on #53
About the support for "different environments" in the description of this issue, I don't think this should be a priority: the `host` and the `basePath` are specified in the Swagger spec and allowing to switch environments would imply to override the information from the spec. But there would be a much simpler to way to have this feature: have multiple instances of ReDoc with its own spec with the

[2017-02-10 16:40] dolmen opened #202 "URI fragments for routes"
API routes should be bookmarkable.
Clicking on a link in the left panel should update the URL with a fragment that allows to bookmark it.
Browser history should be updated so that back/forward browser buttons work.

[2017-02-13 11:30] Jean-Daniel opened #203 "Fatal Exception when trying to resolve external path reference"
I'm not sure why it crash, but when trying to render the attached spec (bug.yml), I have the following exception:

[code]

Note that this spec render without issue in swagger editor (I didn't try swagger UI though).

I tried to pinpoint the issue and it look likes this is because the 2 paths references contains the same  reference to the response array items schema. I didn't get further.

For the

[2017-02-13 11:40] RomanGotsiy commented on #200
Did you `npm install` after pulling latest?

[2017-02-13 12:05] markingram commented on #200
I did, yes.

[2017-02-13 12:30] suds123 opened #204 "Feature request: Sample request/response"
Hi,

Thanks for the great work on reDoc!
I have a request if its possible to introduce sample request/response. For example have a look at this url for Shopify's API reference - https://help.shopify.com/api/reference/transaction.
Same endpoint can support one or more request scenarios. Provide samples would provide complete client documentation. This could be a new section below Responses section

[2017-02-13 13:31] suds123 commented on #204
The way it could be written in swagger spec is, after the response section in spec we can have a section for sample request/response.
      responses:
        '201': ...........
        '4xx':.....
        '5xx':.....
      x-<app>-samples:
        - $ref: '#/x-<app>-samples/orders-capture-after-auth'

The at the bottom of model definition section we can define these:-
x-<app>-samples:
  orders-ca

[2017-02-14 07:30] davidkuridza opened #205 "JSON response samples are quoted"
We have a spec with custom JSON response examples defined for every path, something like this:

[code]

When rendered, all of the examples are quoted:

![screen shot 2017-02-14 at 08 27 31](https://cloud.githubusercontent.com/assets/953796/22919317/77241472-f28f-11e6-9aaf-a0960e072d43.png)

Is there a way to remove the quotes?

[2017-02-14 07:36] RomanGotsiy commented on #205
@davidkuridza `|-` in yaml [means string](http://stackoverflow.com/questions/15540635/what-is-the-use-of-pipe-symbol-in-yaml). That's why they are quoted.

To remove quotation just specify object instead of string:

[code]

[2017-02-14 07:36] #205 closed

[2017-02-14 07:50] #201 closed

[2017-02-14 10:20] #203 closed

[2017-02-14 10:20] #190 closed

[2017-02-14 10:21] RomanGotsiy commented on #200
Caused by to https://github.com/s-panferov/awesome-typescript-loader/issues/252
workarounded this by https://github.com/Rebilly/ReDoc/commit/a40d8d7dfe1706ac2ff4151a8878895b472ec439

[2017-02-14 11:06] RomanGotsiy commented on #13
Closing as can be workarounded by `lazy-rendering` option

[2017-02-14 11:06] #13 closed

[2017-02-14 12:42] RomanGotsiy commented on #88
Implemented. Will be available in the next release

[2017-02-14 12:42] #88 closed

[2017-02-15 12:50] seanpk opened #206 "Show descriptions for response models in an arrays"
When a response includes an array of a particular model, the description of the model definition should also be displayed, not only the descriptions for the fields in that model.

(For reference: the definition description is displayed when it is not in an array.)

[2017-02-15 14:01] #206 closed

[2017-02-15 14:01] RomanGotsiy commented on #206
@seanpk fixed, will be shipped in the next release

[2017-02-16 10:18] willdady opened #207 "OpenAPI 3.0 support?"
Are there any plans to add support for OpenAPI 3.0? It looks like the spec is settling with the first implementer draft dropping at the end of February.

https://www.openapis.org/blog/2017/01/24/a-new-year-a-new-specification

[2017-02-16 13:40] lafrech opened #208 "Crash if info.version is not a string"
I just experienced a crash.

ReDoc "frozen" displaying "Loading".

Debug console says

    EXCEPTION: this.info.version.substring is not a function

I guess it happens [here](https://github.com/Rebilly/ReDoc/blob/master/lib/components/ApiInfo/api-info.ts#L24):

[code]

My fault. Broken spec file. Version was not a string but an int.

Anyway, I suppose ReDoc would rather not crash but report a spec

[2017-02-18 15:16] RomanGotsiy commented on #207
@willdady,
yes, there are plans to support it.
But I am not sure about timeframe. There are a lot of changes in the version + a few things I am not sure how to implement at the moment (`oneOf`, `anyOf`, `not`, etc)

[2017-02-19 17:36] Kamil1 opened #209 "Docs won't finish loading?"
I've decided to try out ReDoc (it looks great!), and have my `api.yaml` spec here: `https://bread-server-docs.5apps.com/api.yaml`

 I created an index page using the template provided in the README, below:
[code]

This page can be found here: https://bread-docs-test.5apps.com/

For some reason... the page won't load. It seems to be "Loading" forever...

Is this a bug, or am I doing something wrong

[2017-02-20 07:58] RomanGotsiy commented on #209
@Kamil1 you have an issue in your spec: `400` response for `/feed` endpoint is indented not correctly.
You have:

[code]

while it should be

[code]

But this is an issue that ReDoc is not showing an error and just hangs. It will be tracked in #208

[2017-02-20 07:58] #209 closed

[2017-02-21 15:34] suds123 opened #210 "Multi-level inheritance support"
Hi team

Does ReDoc supports multi-level polymorphism? I'm able to get ReDoc working for 1 level inheritance, but the second level values just appear as enum values and not as drop down list of values.
Any idea if there is no support right now and if in future it can be available?

Regards

[2017-02-21 16:16] RomanGotsiy commented on #210
@suds123 could you share your spec or at least the minimal reproducible example.
Or at least screenshot

Thanks

[2017-02-21 18:21] suds123 commented on #210
Taking petstore example -

`definitions:
  Pet:
    type: object
    discriminator: petType
    properties:
      id:
        type: string
      name:
        type: string
      petType:
        type: string
    required:
    - name
    - petType
  Cat:
    description: A representation of a cat
    allOf:
    - $ref: '#/definitions/Pet'
    - type: object
      properties:
        coat:

[2017-02-22 08:55] RomanGotsiy commented on #210
@suds123 thank you for clarification. Unfortunately this is currently not supported by ReDoc as this requires some rewrite
Will be implemented in the feature

[2017-02-22 12:56] RomanGotsiy commented on #204
@suds123 ReDoc is more focused on Reference documentation and what you suggest is more like tutorials.
We have considered tutorials and we believe that this should not be a part of ReDoc lib. But I can help you to create a customized build for you.
Feel free to contact me (see email on my GitHub profile)

[2017-02-23 13:54] sixers opened #211 "Expand all on Response Schema"
I have a deeply nested response schema. Currently it's very cumbersome to see the full schema, I need to click on each nested object. ReDoc has "expand all" on example response, does it also support the same on the schema?

[2017-02-23 14:03] RomanGotsiy commented on #211
Hey @sixers,
at the moment ReDoc doesn't support this.

I've added `feature` badge to this issue. Most likely this feature will be shipped in a few weeks.

[2017-02-23 14:30] sixers commented on #59
How to use this? I still have those fields in my request samples.

[2017-02-23 14:32] RomanGotsiy commented on #59
@sixers Which version of ReDoc do you use?

[2017-02-23 15:04] sixers commented on #59
@RomanGotsiy I'm using the latest one:
https://rebilly.github.io/ReDoc/releases/latest/redoc.min.js

[2017-02-23 15:55] RomanGotsiy commented on #59
@sixers can you share your spec or at least minimal reproducible sample?

[2017-02-23 16:11] sixers commented on #59
Yes, sample Swagger YAML
[code]

Request body schema contains only `published` and `conclusion`, request sample is as follows:

[code]

[2017-02-23 16:16] sixers commented on #59
I think it happens for nested objects, when I removed `data` envolope it looks good.

[2017-02-23 17:24] RomanGotsiy commented on #59
@sixers ahhh! Yes. I was able to reproduce it.
Thank you @sixers for your findings.

This fix for this issue will be shipped in the next release

[2017-02-23 17:26] RomanGotsiy commented on #190
Fixed, already available in the latest release

[2017-02-23 17:28] RomanGotsiy commented on #201
Fixed in v1.8.1

[2017-02-24 08:01] dolmen opened #212 "Schema rendering: improve type string with minLength == maxLength"
[code]
should be rendered like this: `exactly 22 characters` (or a variation)

Currently it is rendered as `[22..22] characters` which is less readable for humans.

This is related to #192. Both should be fixed together.

[2017-02-24 08:07] RomanGotsiy commented on #212
@dolmen thanks! Awesome suggestion!
Both will be shipped in the next release

[2017-02-24 09:05] eitan101 commented on #207
+1 for the "oneOf".
I currently use [json-editor](https://github.com/jdorn/json-editor) to present read-only form and it supports "oneOf", but for documentation purposes is much nicer.

[2017-02-25 23:00] #192 closed

[2017-02-25 23:00] #197 closed

[2017-02-25 23:00] #208 closed

[2017-02-25 23:00] #212 closed

[2017-02-27 06:52] RomanGotsiy commented on #195
Hey @andrewjtech123,
I'm just done with documenting `x-extendedDiscriminator`.

Hope it will be helpful:
https://github.com/Rebilly/ReDoc/blob/master/docs/redoc-vendor-extensions.md#x-extendeddiscriminator

[2017-02-27 11:14] #138 closed

[2017-02-27 11:14] #191 closed

[2017-02-27 15:56] sarus opened #213 "Ellipsis class content is garbled"
I'm seeing garbled content for the `.ellipsis` class when the tree is collapsed.

![image](https://cloud.githubusercontent.com/assets/306319/23368214/198c3a3c-fcdb-11e6-9d59-325d16f8c1c9.png)

Inspector Content:

![image](https://cloud.githubusercontent.com/assets/306319/23368262/4070f386-fcdb-11e6-8a69-efbecb57d060.png)

Has anyone run into this issue?

Thanks!

[2017-02-27 15:57] sarus commented on #213
Just needed to add `UTF-8` charset as a `meta` tag in `head`

[code]

I would consider adding this to the sample `index.html` file in the README.

Thanks!

[2017-02-27 15:58] #213 closed

[2017-02-27 15:58] RomanGotsiy commented on #213
@sarus dup of https://github.com/Rebilly/ReDoc/issues/29

[2017-02-27 15:58] RomanGotsiy commented on #213
@sarus nice catch with `<meta charset="utf-8">`.
Adding to sample `index.html`
Thanks

[2017-02-27 16:21] RomanGotsiy commented on #202
shipped with the latest version `v1.10.0`

[2017-02-27 16:22] RomanGotsiy commented on #138
Automatic url bar updates are shipped with the latest version `v1.10.0`

[2017-02-28 07:42] runes83 opened #214 "Markdown in description"
In your demo: http://rebilly.github.io/ReDoc/ you have markdown in the description field and manage to create additional menu items by markdown headlines. I try to recreate that but are not able to get the same result. Is there any special thing that have to be set?

Are using json not yaml

[2017-02-28 07:52] RomanGotsiy commented on #214
@runes83 probably you're missing some `\n` or spaces according to markdown spec.

Send me a sample of your swagger and I will try to help

[2017-02-28 09:02] runes83 commented on #214
Tried using your example text but still error, here is the swagger:

https://gist.github.com/runes83/35579c4faf28a9f765c3afaab28a8a9e

[2017-02-28 09:07] RomanGotsiy commented on #214
I can't see markdown headers in your description field

They should start from `#` sign.

check example here: https://github.com/Rebilly/ReDoc/blob/master/demo/swagger.yaml#L8

[2017-02-28 09:35] runes83 commented on #214
@RomanGotsiy I've updated the gist with your petstore markdown and still the same result

[2017-02-28 09:40] runes83 commented on #214
![redoc](https://cloud.githubusercontent.com/assets/7079276/23399887/3c61c9ba-fda2-11e6-9634-eda04e8a3599.PNG)
Here is a screenshot of what it looks like

[2017-02-28 09:47] RomanGotsiy commented on #214
Now you have extra spaces before your text which mean code block in markdown.

Please validate your markdown in any markdown editor, e.g. https://stackedit.io/editor

[2017-02-28 09:54] RomanGotsiy commented on #214
@runes83 here is the working gist: https://gist.github.com/RomanGotsiy/d700746a48964a63610435e572319ae1

[2017-02-28 09:54] #214 closed

[2017-02-28 10:05] runes83 commented on #214
@RomanGotsiy Thanks it look like Swaschbuckle dis somthing to the markdown it works now :-)

[2017-02-28 13:51] bartkummel opened #215 "Tag not shown if not in tagGroup"
When using the `x-tagGroups` feature, tags that are not in a tagGroup are not shown at all. I would at least expect a warning. But perhaps it is even better to create a default tagGroup automatically, where all ungrouped tags are added to implicitly.

[2017-02-28 14:29] RomanGotsiy commented on #215
@bartkummel there should be a warning in browser console saying which tags are not shown at all
![image](https://cloud.githubusercontent.com/assets/3975738/23408904/5984db9c-fdd2-11e6-97d0-8cd53f9c4ed3.png)

Regarding default `tagGroup`, I do not thing it is a good solution because it it is not clear e.g. how to name it, where to put it (on the beginning or at the end). And I don't want to introdu

[2017-02-28 15:43] bartkummel commented on #215
I think adding a warning to the page is an appropriate solution. Perhaps it's a good idea to add a warning to the documentation as well, such as: "If you are going to use `x-tagGroups`, please make sure you add all tags to a group, since a tag that is not in a group, will not be displayed at all!"

[2017-02-28 20:06] SebastianStehle opened #216 "Bug: Redoc shows spinner only when swagger definition is empty"
Hi,

I found a minor bug. When the swagger definition is empty, Redoc only shows the spinner. I have an API where you can enable and disable API's and it would be awesome if Redoc will be also rendered if no API is enabled.

[2017-02-28 21:47] RomanGotsiy commented on #216
What you mean under the swagger definition empty?
Can you please open browser console and send the output?

[2017-02-28 22:35] #215 closed

[2017-03-01 06:05] SebastianStehle commented on #216
There is nothing in the console. With and empty definition I mean a swagger definition without any paths.

[2017-03-01 07:16] RomanGotsiy commented on #216
@SebastianStehle nice catch, thanks for reporting.
Will fix in the upcoming release

[2017-03-01 07:45] SebastianStehle commented on #216
Awesome, do you have a timeline for the next release? we would like to release a product/open source project and it would be nice to bring it out with this fix.

[2017-03-01 14:00] KtorZ opened #217 "x-extendedDiscriminator doesn't seem to be applied"
I am trying to use this feature and I am having doubt understanding correctly what it does.

I expect the following snippet to be rendered with a drop-down having names "cash" and "paypal" (from the enum) instead of the definition's key "CashPayment", "PayPalPayment".

I get the following result though, on a fresh bower install of the `1.10.2` (which is the same I would get using simply 'discrimin

[2017-03-01 14:18] RomanGotsiy commented on #217
@KtorZ nice catch!
This is a bug. Will be fixed for the next release.

[2017-03-01 22:57] wsong opened #218 "Definitions with allOf cannot parse references correctly"
Using this swagger.json file:

[code]

This produces the following error in my web console:

[code]

Chrome Version 56.0.2924.87 (64-bit), OS X
ReDoc version 1.10.2

[2017-03-01 23:25] jaredscheib opened #219 "Pretty-print JSON on copy"
Would be awesome if, when hitting Copy, we had an option to have pretty-printed JSON automatically copied to the clipboard. Alternately, there could be two Copy options: one for pretty and one ugly. I always take the output to a prettifier, so would save me an extra step.

Thanks, and great work either way!

[2017-03-02 06:50] RomanGotsiy commented on #218
@wsong I can't reproduce the issue with spec you provided.

check it out yourself: https://rebilly.github.io/ReDoc/?url=https://gist.githubusercontent.com/RomanGotsiy/3eb90d97c8e58469ff85aea7c06f50ac/raw/6c84bb48ad0b4b8b4d4da82f64352adb739f9cbe/wsong.json

[2017-03-02 17:38] wsong commented on #218
This only appears to occur with the non-minified version of ReDoc, infuriatingly enough.

[2017-03-02 17:46] RomanGotsiy commented on #218
@wsong are you building redoc locally ?

[2017-03-02 17:47] wsong commented on #218
No, I just grabbed `dist/redoc.js` from this zip file on the releases page:

https://github.com/Rebilly/ReDoc/archive/v1.10.2.zip

[2017-03-02 17:49] RomanGotsiy commented on #218
oops, this seems to be very outdated version... I stopped shipping non-minified versions but forgot to remove it dist folder so it gets into each release :(

Use minified version please, I will remove non-minified asap

[2017-03-03 10:50] ChrisTitos opened #220 "Discriminator dropdown in request body, removes parent type"
Hi,

Excuse the confusing title, it's difficult to explain in one sentence :)

I have a definition that has a discriminator like this:

[code]

Alert, Event, Question etc are all subclasses of Message, but in my case Message is not "abstract" if you know what I mean, it's a valid object, hence it's one of the enum values. However the dropdown removes Message and only shows the subclasses with the

[2017-03-03 15:04] RomanGotsiy commented on #220
This is not valid against the specification of discriminator.
To get what you need define some abstract type, let's say `MessageBase` and derive all the types from it including `Message`. Inherit `Message` from `MessageBase` without adding any extra constrains:

[code]

[2017-03-03 15:07] #218 closed

[2017-03-03 15:12] ChrisTitos commented on #220
I see this in the specification:

http://swagger.io/specification/#schemaObject

That last sentence seems to say that my example is valid. The value of the discriminator can be the name of the schema of the object the discriminator is defined in.

[2017-03-03 15:27] RomanGotsiy commented on #220
@ChrisTitos nice catch 😱 ! To be honest I'm shocked I have never notice this before

I will consider the solution. So far it seems to be a breaking change for some of the existing users as they did not expect such behaviour and use class with discriminator as an abstract class :(

What if ReDoc will check if the value is in the enum and will show the value only in such case. I know this is not ide

[2017-03-03 15:33] ChrisTitos commented on #220
I think that is the correct solution, as the specification does not say it cannot be an abstract class. In fact I have another use case where I *do* use it as an abstract class.

[2017-03-03 18:33] bdentino opened #221 "Ignored Properties Warning"
I'm getting a warning in the UI whenever I uncollapse the response schema for one of my routes that says something like `Other properties are defined at the same level as $ref at "#/paths/~1companies/get/responses/200/schema". They are IGNORED according to the JsonSchema spec`. I'm not sure if this is a bug or how to resolve this since according to my schema, $ref is the only property at that leve

[2017-03-04 12:47] tanel opened #222 "https://github.com/Rebilly/ReDoc/releases/latest points to v0.7.14"
Would it be possible to make it point to the actual latest release instead?

I'm using https://goswagger.io/ to generate swagger UI from Go code. It serves the UI using

<script src="https://rebilly.github.io/ReDoc/releases/latest/redoc.min.js"/>

which points to v0.7.14 which is almost 1 year old release.

[2017-03-04 16:41] RomanGotsiy commented on #222
@tanel I can't verify this.
I just opened the link you sent https://rebilly.github.io/ReDoc/releases/latest/redoc.min.js and I see the latest version 1.10.2

![image](https://cloud.githubusercontent.com/assets/3975738/23580422/329eecb2-010a-11e7-8895-147829bd5e0e.png)

[2017-03-04 16:47] tanel commented on #222
I cannot reproduce the issue anymore. Looks like I mixed up something. Sorry about this.

[2017-03-04 16:55] #222 closed

[2017-03-04 23:39] DevDuck opened #223 "Discriminator with Reference to enum"
I'm new to `discriminator` and `x-extendedDiscriminator` so let me know if I'm using it incorrectly.

The generated `select` dropdown has no options when my `discriminator` is a reference to an enum definition. My workaround is to use `type: string` but then I lose the fact that it is an `enum` in the response schema.

For example, tweaking the example given in #217:

[code]

So if I use the refer

[2017-03-06 07:17] bioball opened #224 "Hand Redoc an OpenAPI JSON object for initiation?"
Rather than giving Redoc a swagger to fetch from, I'd like to be able to hand it the JSON directly. Something like:

[code]

The reason is that I may want to create documentation for protected resources, and may want the documentation json itself to be behind a protected endpoint too.

[2017-03-07 09:01] prverma3 opened #226 "How to provide multiple swagger files to ReDoc"
Hi Expert,
I am planning to use ReDoc for api doc generation.  I am very new to ReDoc.  I was able to run ReDoc with single swagger file. Is there any way to provide multiple swagger files to ReDoc?

In case, if  providing multiple swagger files to ReDoc is not possible, Could you please recommend a tool which works best in aggregating/merging multiple swagger files into one (for ReDoc).

Thanks i

[2017-03-08 07:10] prverma3 commented on #226
Hi Experts,

Did you get a chance to go through my question.

Thanks in advance for your reply.

[2017-03-08 07:15] RomanGotsiy commented on #226
@prverma3 what do you mean under `multiple swagger files`. Redoc supports references so you can use `$ref` to split your file into chunks.
If you want to use ReDoc with completely different swagger files then you probably should use `Redoc.init` ([docs](https://github.com/Rebilly/ReDoc#advanced-usage)) method.

If you are new to swagger I recommend you our another tool: [generator-openapi-repo](ht

[2017-03-08 10:02] prverma3 commented on #226
Many Thanks for your reply.

Actually with multiple swaggers files i was referring to multiple swaggers files of different sub projects.

The Redoc.init seems to take only single swagger spec at the time. Can you recommend any tool to merge multiple swagger files and generate a single merged swagger file . So that, we can use that  single merged swagger file in ReDoc.init.

Thanks in advance for y

[2017-03-08 10:02] nemenemsrouge commented on #186
+1

[2017-03-08 11:12] RomanGotsiy commented on #226
@prverma3 Check out the sample of how to use multiple swagger files with redoc: https://github.com/Rebilly/ReDoc/blob/master/demo/examples/multiple-apis/index.html

Hope it would be useful.

Regarding merging swagger files - I do not know about tools for merging multiple swagger files into one. Maybe stackoveflow would be better place to ask this question.

Closing this issue

[2017-03-08 11:12] #226 closed

[2017-03-09 13:04] ChrisTitos opened #228 "Redoc keeps loading"
When loading ReDoc the browser keeps loading. In Firefox the whole browser freezes until I get the alert to cancel the operation. In Chrome I see the loading spinner, but I also eventually get the alert to cancel the operation. In Chrome this is the output in the console:

![afbeelding](https://cloud.githubusercontent.com/assets/2377451/23751304/102ac17c-04d1-11e7-87ec-909614580e8d.png)

This prob

[2017-03-09 18:36] RomanGotsiy commented on #223
hey @DevDuck, sorry for slow response.

Right now x-extendedDiscriminator works not as intended because of #217.
I will push a fix for that issue today.

This won't fix the issue you submit, though.

1) the way how discriminator works according to spec leads to such errors:

so when e.g. `cash` is selected ReDoc just renders `CashPayment` definition. It should inherit type enum and format from par

[2017-03-09 20:40] #219 closed

[2017-03-09 20:40] #217 closed

[2017-03-09 20:40] #221 closed

[2017-03-09 20:40] #224 closed

[2017-03-09 20:40] #228 closed

[2017-03-09 22:37] #216 closed

[2017-03-09 22:37] #220 closed

[2017-03-09 23:19] RomanGotsiy commented on #223
@DevDuck a new version of ReDoc `v1.11.0` has just been released.

You can now try your example on the latest version taking into account the example of workaround I left above.
Waiting for your feedback :)

[2017-03-10 00:24] DevDuck commented on #223
Confirmed that your fix does fix the naming issue described in #217. As well, it fixes the empty dropdown issue when using the derived types.

The workaround does indeed reflect the enum now: `PaymentType (string) <enum>` instead of just `string`. But the response sample still just shows `string` for the `type` property instead of choosing one of the enum values, when referencing the parent type i

[2017-03-10 01:03] bioball commented on #224
Nice, thanks!

[2017-03-13 08:57] nsf opened #230 "Suggestion: "Optional" instead of "Required" on output."
OpenAPI has a list of "required" fields for each object and it makes sense to mark them as "Required" when describing **input**. However on **output** most fields are usually "Required". Perhaps it's wiser to mark those that aren't as "Optional" instead? In a way it would make it similar to "Nullable" tags. And once again, I'm talking about descriptions of output of APIs, inputs are fine with "Req

[2017-03-14 13:07] yasinfp opened #232 "OpaqueToken is deprecated"
when executing
`npm run clean:aot && npm run build:sass && npm run webpack:prod`
npm throws an exception contains about angular/core.
The exception is;

After some research [that link](https://github.com/angular/angular/issues/14763) tells OpaqueToken has been deprecated in angular/core module. I think it should be changed while webpack bundling process.
Here is my full output log.

Angular compil

[2017-03-15 10:55] prverma3 commented on #226
Many Thanks .
Your link was very useful. Just one more question, is there any way to show the  multiple APIs links in first panel (left most) instead of showing it in top panel.

Thanks in advance.

[2017-03-15 10:57] RomanGotsiy commented on #226
@prverma3 so far there are no such option. It may be added as part of https://github.com/Rebilly/ReDoc/issues/181 feature request but I don't have timeline for this so foar

[2017-03-15 12:36] RomanGotsiy commented on #230
I believe adding this as a option would be ok

[2017-03-15 16:21] RomanGotsiy commented on #232
I have just migrated to angular 4.0.0-rc.3 so this issue should be fixed now.

[2017-03-16 17:20] JFCote opened #233 "Try it now / Change parameter value?"
Hi!

This swagger UI is amazing but I don't know if it's a problem of setup or something, but I can't find a way to:

- Change the value of each parameters
- Click on something like "Try it out!".

Since it's the primary goal of any API browser/documentation, I'm pretty sure I'm missing something or an options somewhere.

I have created the setup using the sample html page and the CDN version "lat

[2017-03-16 17:57] yasinfp commented on #232
Yes. it works smoothly
Thanks.

[2017-03-16 18:09] #232 closed

[2017-03-16 18:11] RomanGotsiy commented on #233
this is not swagger UI and not a fork of swagger UI. This is a separate tool developed from the ground.

The support for "Try it out" is still not implemented but it is in the our roadmap.
Track the progress in the issue: https://github.com/Rebilly/ReDoc/issues/53

[2017-03-16 18:11] #233 closed

[2017-03-16 18:13] JFCote commented on #233
Ok thanks for the information! I'll keep an eye on the issue #53 .
Keep up the good work man!

[2017-03-17 00:22] MattStaffordGS opened #234 "Suggestion: Support x-enumNames extension"
The x-enumNames extension (generated by NSwagStudio in our case) includes the human readable name of an enum when you're using integers for enum rather than strings
It would be great if ReDoc could support being able to display what the integer element of an enum value means, rather than just the value

Currently it shows as
Valid values: 0  1  2

Showing something like
Valid values: Female (0)  M

[2017-03-17 14:55] eitan101 opened #235 "Problem with Array of Array"
I think that array of array are not handled correctly. The wrapping array is ignored while drawing the schema, while the sample is rendered correctly.

Here is a yaml example with two cases:

[code]

[2017-03-17 15:02] eitan101 commented on #235
<img width="532" alt="screen shot 2017-03-17 at 17 00 35" src="https://cloud.githubusercontent.com/assets/2639080/24048997/56644e16-0b33-11e7-8f5f-0f89e00d24f6.png">
<img width="349" alt="screen shot 2017-03-17 at 17 01 46" src="https://cloud.githubusercontent.com/assets/2639080/24049037/75de427e-0b33-11e7-80e0-0dd4bbaacc5f.png">
<img width="352" alt="screen shot 2017-03-17 at 17 01 54" src="https

[2017-03-20 09:21] bartkummel commented on #230
The described behavior should be optional, there are also APIs where most fields are optional, and in that case the current behavior is preferred.

[2017-03-20 10:08] lafrech opened #236 "v1.11.0 regression"
I'm getting an error when using v1.11.0. It does not occur with v1.10.2.

[code]

Error is at redoc.min.js:43:4524

[2017-03-20 15:13] RomanGotsiy commented on #236
@lafrech could you provide spec on which it is crashing or at least minimal reproducible sample?

[2017-03-20 15:13] RomanGotsiy commented on #235
hey @eitan101. Thanks for reporting.

Will be fixed soon

[2017-03-20 15:15] RomanGotsiy commented on #204
Closing this for now as it's beyond the scope of the project

[2017-03-20 15:15] #204 closed

[2017-03-20 16:16] lafrech commented on #236
Yeah, sorry. It was a bit hard to extract the relevant part, so I hoped the stack trace would be enough...

I managed to narrow down the issue to this:

[code]

The issue is with the `discriminator`. That part of the spec is invalid. `kind` must be a property of `SubItem`. This is known issue in our API spec generation code.

Hope this helps.

[2017-03-21 16:44] squashvoice opened #237 "Getting x-code-samples to work"
Firstly, great project and thank you for all the hard work!

I followed the "TL;DR" steps, using the same `index.html`, with CDN-hosted `redoc.min.js`. When coupling this with the demo `swagger.yaml` I can see that everything works fine except for vendor extension features such as `x-code-samples`.

Could you confirm if there are additional libraries/steps I've missed in order to get these to work

[2017-03-21 19:33] RomanGotsiy commented on #237
@squashvoice what you mean under `x-code-samples` are not working? There should not be any additional steps

[2017-03-22 08:34] prverma3 opened #238 "Need urgent help"
Hi Experts,

I am facing a strange issue. I am able to render ReDoc for my api in chrome, firefox and safari but in case of IE 9,  I am getting blank screen. Do you have any idea what can be wrong here?

Thanks in advance for your help.

[2017-03-22 09:15] squashvoice commented on #237
@RomanGotsiy sorry for wasting your time, I found out that swagger-node doesn't send through vendor extensions by default. I fixed the issue by following this case:

https://github.com/swagger-api/swagger-node/issues/441

Thanks!

[2017-03-22 09:15] #237 closed

[2017-03-22 11:37] RomanGotsiy commented on #238
@prverma3 ReDoc doesn't support IE9. And there are no plans to support it since even Microsoft stopped supporting it.

[2017-03-22 11:37] #238 closed

[2017-03-23 08:52] gauravmokhasi opened #239 "Allow display of multiple swagger files in the left pane?"
Can we display more than one swagger file in the left pane itself, instead of in the top bar?
- In the left pane, you will have multiple API families -- like Students, Teachers, Non-Teaching Staff etc...
- when you click on Students, it will load the students-swagger.yaml (or .json) and display it in 3 panels.
  - The other 2 families will remain collapsed.
- When you click on Teachers, it will lo

[2017-03-23 09:00] RomanGotsiy commented on #239
@gauravmokhasi
No, this is not supported by ReDoc and there are not plans to support it
Instead you can have your families shown in the navbar. Here is the example of that: https://github.com/Rebilly/ReDoc/blob/master/demo/examples/multiple-apis/index.html

[2017-03-23 09:00] #239 closed

[2017-03-23 09:01] gauravmokhasi opened #240 "Provide versioning support for APIs?"
Can we support multiple versions of APIs?
- Provide a dropdown to select the correct version (perhaps next to the download button).
- Based on the version selected, the correct swagger is loaded.
  - e.g. if v2 is selected, then teachers-swagger-v2.yaml will be loaded and displayed in the 3 panels.
- provide option to mark certain versions as deprecated. (so that you can continue to display deprec

[2017-03-24 06:59] ranjapri opened #241 "custom CSS"
Hi ReDoc team,
Is there any way to apply custom css in ReDoc? I tried applying in index.html of ReDoc but that is getting overridden by ReDoc styles.

Regards.

[2017-03-25 06:04] jsmartfo commented on #241
This is similar to #144

You can override certain styles you would just have to use the `important` operator a lot

[code]

[2017-03-25 07:20] RomanGotsiy commented on #241
@jsmartfo thanks for answering!
CSS is now getting overridden by ReDoc as it uses attributes selectors.

Instead of having `important` try to prefix all your css rules with e.g. `redoc[spec-url]`. It should increase specifity of css selectors and do the trick.

During the next month I am going to refactor all the css and this issue should not happen in the future

[2017-03-25 07:20] #241 closed

[2017-03-25 08:14] RomanGotsiy commented on #240
@gauravmokhasi you can have any switcher outside the redoc and use `Redoc.init` method to switch files.
Check example here: https://github.com/Rebilly/ReDoc/blob/master/demo/examples/multiple-apis/index.html

There is no plan to add this into ReDoc core.

[2017-03-25 08:14] #240 closed

[2017-03-27 05:03] ranjapri commented on #241
Thanks Roman and Jsmartfo,

One clarification, do i need to specify the css file like following in index.html?
 <redoc spec-url="customstyle.css" ></redoc>
or need to modify the css file itself and modify the style (could you please provide an example for this? how to prefix the css rule?)

Regards,

[2017-03-27 07:13] RomanGotsiy commented on #241
@ranjapri `spec-url` is for providing swagger spec not css file.

You should add your css into head of the html page. Taking quick example from readme:

[code]

[2017-03-28 04:42] ranjapri commented on #241
Thank you so much Roman,
It works but writing important for all styles or even prefixing  is troublesome. Will the CSS work seamlessly after the code refactoring?

Regards.